[2019-10-28 02:54] admah opened #2 "IoT Device Disconnects After a Few Seconds in iOS 13"
In iOS 13, there is a known issue that causes hotspot devices to connect and then disconnect after a few seconds.

- https://forums.developer.apple.com/thread/122540

- https://stackoverflow.com/questions/57894269/ios-13-network-connected-via-nehotspotconfiguration-disconnects-after-a-few-sec

Apparently this can be fixed by setting `configuration.joinOnce = false;` on lines 61 and 84 in `RNWifi.m

[2019-10-28 20:26] ncofrem opened #3 "Cannot detect SSID"
In iOS 13 with "example/AwesomeProject" always get:

**"Cannot get current SSID! Cannot detect SSID"**

I granted location permissions.

- iPhome model: iPhone 7
- iOS Version: 13.1.3

Thanks you!

[2019-10-28 21:25] JuanSeBestia commented on #3
You already tried to put this capability in your project and in your distribution profile.

<img width="1004" alt="Screen Shot 2019-10-28 at 4 20 05 PM" src="https://user-images.githubusercontent.com/7362688/67719251-7801a200-f99f-11e9-9f44-b4c590b18793.png">

I create the sample project to test library implementation things, but I didn't test the example very carefully. I will try it

[2019-10-28 21:27] JuanSeBestia commented on #2
If you solve it, do not hesitate to perform a PR :)

[2019-10-30 11:58] erkangozukucuk opened #4 "Android and ios supported version"
Which versions of android and ios are supperted by this package?

[2019-10-31 21:47] darveaujp opened #7 "connectToProtectedSSID not working on iOS"
getCurrentWifiSSID is working fine, but I am trying to connect to another SSID and it doesn't work.

It was working fine with react-native-wifi library.

Is there is something special I need to add to my configurations?

It's been a while I haven't touch to that.

thanks

[2019-11-01 13:41] darveaujp commented on #7
forget it... I removed by mistake the hotspot configuration capability from xcode

[2019-11-03 01:22] JuanSeBestia commented on #4
iOS 11-13, Android i'm not sure but work SSID in my Android 7

[2019-11-03 01:22] #4 closed

[2019-11-03 01:22] #7 closed

[2019-11-03 02:00] JuanSeBestia commented on #3
Sorry man, in iOS I could not make the example worked, if it is not putting a project that has a correct profile and obviously I can not share it :(

[2019-11-03 02:00] #3 closed

[2019-11-06 15:23] admah commented on #2
Adding a comment that updating `configuration.joinOnce = false;` did not seem to resolve the issue.

[2019-11-07 13:37] kristfal opened #8 "D8: Program type already present: com.reactlibrary.BuildConfig"
Same issue as https://github.com/rumax/react-native-PDFView/issues/61

Please rename the package in the manifest https://github.com/JuanSeBestia/react-native-wifi-reborn/blob/master/android/src/main/AndroidManifest.xml to something more specific so it doesn't clash with other repos.

[2019-11-08 01:34] jkaravakis opened #9 "Android functions providing empty responses"
I have successfully implemented react-native-wifi-reborn into my app, but none of the functions are responding properly on Android.

For example getCurrentWifiSSID is giving the following logged response "Your current connected wifi SSID is <unknown ssid>"

connectToProtectedSSID is catching a failure, and loadWifiList is succeeding but returning an empty array.

I am using React Native 0.61.2, an

[2019-11-08 09:08] kristfal opened #11 "Consider detaching this fork"
Thanks for keeping this alive and moving forward!

The original repo is dead. To enable search and improved visibility on Github, I'd very much recommend that you detach this repo from the original one.

See https://stackoverflow.com/questions/16052477/delete-fork-dependency-of-a-github-repository for details.

[2019-11-09 21:13] #8 closed

[2019-11-09 21:17] JuanSeBestia commented on #9
What could you see on the console ?, did I get an error?

[2019-11-09 21:19] JuanSeBestia commented on #11
Ok, it's consistent, I'll try to unlink it as you put it and I think I'll add the MIT license along the way

[2019-11-10 18:41] jkaravakis commented on #9
[code]

getCurrentWifiSSID logs `Your current connected wifi SSID is <unknown ssid>`

[code]
connectToProtectedSSID logs
[code]

[code]

loadWifiList logs

`success!!!`
`[]`

[2019-11-12 18:23] josectobar commented on #2
`configuration.joinOnce = false;` seems to do the trick, just make sure you set it in both wifi connection methods.

[2019-11-13 09:59] eliaslecomte commented on #9
The current code requires location permission. It can't scan for wifi networks starting Android 6 without it.
I've openen a PR: https://github.com/JuanSeBestia/react-native-wifi-reborn/pull/13 that makes it possible to connect without the permission but this should indead be highlighted through the documentation better.

[2019-11-13 10:03] eliaslecomte commented on #9
I am willing to look into making this more clear:
* update readme
* return an error outlining location permission is required to scan when trying without

@JuanSeBestia can you assign me to this?

[2019-11-13 10:04] eliaslecomte commented on #2
@admah  or @josectobar  can you open a PR for this?

[2019-11-13 17:00] yashanand07 opened #14 "Possible issue in the documentation on github as well as on npmjs site"
Is this right? Or should it be **react-native-wifi-reborn**?

project(':react-native-wifi-reborn').projectDir = new File(rootProject.projectDir, 	'../node_modules/**react-native-wifi**/android')

The same documentation if need be needs to be changed on  [npmjs site](https://www.npmjs.com/package/react-native-wifi-reborn) as well

[2019-11-14 02:11] jkaravakis commented on #9
Thank you @eliaslecomte! I've implemented a permissions request with PermissionsAndroid for ACCESS_FINE_LOCATION and the loadWifiList and getCurrentWifiSSID functions are now working. However, I still can't get the connectToProtected SSID function to work. I'm getting the following error now:

[code]

I'm going to dig into this a bit more, but any thoughts are much appreciated.

[2019-11-14 06:33] eliaslecomte commented on #9
Hey @jkaravakis. Even ACCESS_COARSE_LOCATION should do the trick. There is corrently a bug in the connect logic on line 213 and + of RNWifiModule.java

`		if (Build.VERSION.SDK_INT >= Build.VERSION_CODES.LOLLIPOP) {
        conf.SSID = ssid;
    } else {
        conf.SSID = "\"" + ssid + "\"";
    }`

This is not correct. This is fixed in our fork https://github.com/inthepocket/react-native-wifi-r

[2019-11-15 15:29] JuanSeBestia commented on #8
:tada: This issue has been resolved in version 2.1.1 :tada:

The release is available on:
- [GitHub release](https://github.com/JuanSeBestia/react-native-wifi-reborn/releases/tag/v2.1.1)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-wifi-reborn)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-15 16:15] JuanSeBestia commented on #14
Thanks for noticing, I've already committed it

[2019-11-15 16:15] #14 closed

[2019-11-15 17:03] JuanSeBestia opened #15 "Add Types"
I'm considering adding typing for TypeScript which is the one I use the most,

[2019-11-15 17:47] Rapsssito commented on #11
Yay!

[2019-11-15 19:24] yashanand07 commented on #14
Thanks Juan. I will also check IOS 13 patch by putting a hack into the original module. Hoping that you would release a new module for us to use as the original one is obselete due to no changes being taken up. Thanks from all of us.

[2019-11-16 00:09] jkaravakis commented on #9
@eliaslecomte you are awesome! I can confirm it works using your fork. Much appreciated!

FYI regarding coarse access, that did not seem to work for me.

[2019-11-16 02:19] Xiequanxi opened #16 "Use of undeclared identifier 'UIApplicationOpenSettingsURLString'"
xcode archive Use of undeclared identifier 'UIApplicationOpenSettingsURLString'
![image](https://user-images.githubusercontent.com/22664831/68986440-70c10c00-085a-11ea-8b91-0e3b249f5c83.png)
"react": "16.6.3",
"react-native": "0.58.0",
"react-native-wifi-reborn": "^2.1.1",

[2019-11-17 19:03] mferhatkeles commented on #9
I'm having same problems with @jkaravakis and even after defining ACCESS_FINE_LOCATION nothing worked for me.

my logs are same as well,
"Your current connected wifi SSID is <unknown ssid> "
and
"Error: Can't connect to wifi!"

also I don't know how to get @eliaslecomte 's fork 😞

[2019-11-17 19:47] jkaravakis commented on #9
Hi @mferhatkeles,

I had to use PermissionsAndroid.request to get location permission from the user. Documentation can be founder here: https://facebook.github.io/react-native/docs/permissionsandroid

Essentially you want to run the below function:

[code]

Hope this helps!

[2019-11-17 19:55] mferhatkeles commented on #9
`async function requestAccess() {
    try {
        const granted = await PermissionsAndroid.request(
          PermissionsAndroid.PERMISSIONS.ACCESS_FINE_LOCATION,
          //PermissionsAndroid.PERMISSIONS.ACCESS_NETWORK_STATE,
          {
            'title': 'Wifi networks',
            'message': 'We need your permission in order to find wifi networks'
          }
        )
        if (grante

[2019-11-17 20:04] jkaravakis commented on #9
@mferhatkeles I don't see anything wrong with your code, have your tried nesting connecToProtectedSSID within if (granted === PermissionsAndroid.RESULTS.GRANTED)? This structure is working for me.

[2019-11-17 20:38] mferhatkeles commented on #9
@jkaravakis ı just tried this and nothing happened 😞

[2019-11-18 05:17] eliaslecomte commented on #9
@mferhatkeles there is a problem currently with the connecToProtectedSSID on some Android versions. Can you get the list wifi networks to work?
Did you add the location permission to your android manifest?

[2019-11-18 09:06] mferhatkeles commented on #9
@eliaslecomte yes I added the permission to android manifest still does not work. It seems ım getting permission

[2019-11-18 23:51] JuanSeBestia commented on #16
Yep, That happened to me on one of my team's PCs but I couldn't replicate it

[2019-11-18 23:52] JuanSeBestia commented on #16
@Xiequanxi, Which version of XCode and iOS you use?

[2019-11-19 00:04] JuanSeBestia commented on #11
I consider preserve the ISC licence to not vulnere the prev package

[2019-11-19 00:07] JuanSeBestia commented on #9
v2.2.2 is Released!
But i'm ver taired to check today this issue, sorry :(

[2019-11-20 03:32] Valiums commented on #3
hey @ncofrem I had exactly the same issue. Everything was well setup and it worked on ios 12 however no luck on ios 13 then I realized that we were both using the same ios version (13.1.3).. So I just updated to 13.2.3 and it fixed the problem for me! Hope that help you too if you haven't already figured out yet!

and thanks @JuanSeBestia for this package :)

[2019-11-21 08:20] cuongnm2301 opened #17 "Can't disconnect wifi in IOS"
I connected fine when using
`const ssid = await WifiManager.getCurrentWifiSSID();`
but, I can't disconnect it in IOS, when I try:

[code]
It just, nothing happen.

I try to find in native code, then I got:
[code]
`ssids` always null each time a press button disconnect, otherwise when I try  to hardcode:

[code]
still can't disconnect, please help

[2019-11-22 00:26] jkaravakis commented on #9
v2.2.2 seems to have addressed the original issue. Many thanks to @eliaslecomte for the excellent work!

[2019-11-22 00:26] #9 closed

[2019-11-22 23:07] gabrielrra commented on #17
I think the problem is you can only disconnect from a wifi you own app has configured.
From the documentation on `removeConfigurationForSSID` :
_"Your app can use this method to delete a configuration that it has added, but not a configuration added by another app or by the user. The user can also delete configured networks through Settings > Wi-Fi."_

[2019-11-26 02:20] jkaravakis opened #21 "loadWifiList for iOS"
The loadWifiList function is available on Android, Is there a way to implement it for iOS as well?

[2019-11-26 04:14] jason102 commented on #21
@jkaravakis If you learn how to do this, with this library or another, please share with us here! I'm looking for a solution as well for iOS.

[2019-11-26 04:18] jason102 commented on #21
Some say with iOS it's not possible, which sounds crazy to me? https://github.com/blackdeve/react-native-wifi/issues/31

[2019-11-26 05:40] jkaravakis commented on #21
Based on the below response, it does appear that this is not possible:

https://forums.developer.apple.com/thread/113765

Happy to hear any further suggestions!

[2019-11-27 01:16] vatsalkgor opened #22 "WifiManager is undefined while importing from react-native-wifi-reborn"
Hi, I'm trying to detect the ssid of currently connected wifi with the function `WifiManager.getCurrentWifiSSID()` but it's not working giving me error like **"Cannot read property getCurrentWifiSSID of undefined"** I logged the WifiManager in console just before and it was undefined. I'm sharing the code below for each of the file that are in use. I auto linked the library using `react-native lin

[2019-11-28 21:37] Rapsssito commented on #21
In iOS is not possible and Android is slowly removing it, too.

[2019-11-29 02:19] vatsalkgor commented on #22
Solved the issue by upgrading the react native version 0.59.10 -> 0.61.5. Don't know whether this is actually related issue to the library or I made a mistake somewhere but upgrading to rn 61.5 works for me.

[2019-11-29 02:19] #22 closed

[2019-11-29 21:45] jkaravakis commented on #21
Interesting, any suggestions on how to manage obtaining an IoT device's WiFi name? In my case, each individual device has a distinct number in the WiFi name.

[2019-11-30 02:44] jkaravakis opened #23 "[iOS] connectToProtectedSSID NEHotspotConfigurationManager completionHandler always returns nil"
There appears to be an iOS bug where NEHotspotConfigurationManager errors are only shown to the user and are not sent to the completion handler. This results in the user being shown an "Unable to connect to" error message but the connectToProtectedSSID Promise is always resolved and never rejected. Here is a StackOverflow reference to this issue:

https://stackoverflow.com/questions/57393333/nehot

[2019-11-30 20:11] jkaravakis opened #24 "[iOS] getWifiSSID returns nil"
In iOS, getWifiSSID (triggered within getCurrentWifiSSID after iOS version and location permissions check) is returning nil.

The breakdown appears to be at CNCopyCurrentNetworkInfo which returns a null dictionary despite having location permissions. CNCopySupportedInterfaces is returning (en0).

[2019-12-01 22:13] jkaravakis commented on #21
Closing this issue, I discovered that with iOS 13+ you can utilize an initWithSSIDPrefix function. For example, if your device has a "Device_12345" nomenclature you can supply the "Device" portion of the prefix and the function will automatically ask the user to join the network with that prefix. If multiple networks are available with the same prefix, it will ask to join the one with the stronges

[2019-12-01 22:13] #21 closed

[2019-12-02 18:34] Hashir524 commented on #3
I cannot get SSID on 13.2.3, it was working fine on the previous versions. 11, 12. What can be the issue?

[2019-12-08 19:25] JuanSeBestia commented on #3
now toy need Location permission for iOS13+ https://github.com/JuanSeBestia/react-native-wifi-reborn#ios-13

[2019-12-08 19:27] JuanSeBestia commented on #24
What version you have? I have similar issues with iOS 13.1.x

[2019-12-10 16:39] JuanSeBestia commented on #11
Done!

[2019-12-10 16:39] #11 closed

[2019-12-10 16:42] JuanSeBestia commented on #23
Has a PR #25 in progress with comments

[2019-12-10 17:11] jkaravakis commented on #24
I'm using IOS 13.1.3

[2019-12-12 13:52] JuanSeBestia commented on #24
Yes, I never understood the reason why.
Only update the OS if you can

[2019-12-12 15:44] GusNando opened #26 "Detect if a WiFi is open or protected"
How do I know if the WIFI is open or protected with password?

[2019-12-14 03:53] GusNando opened #28 "How do I connect to open SSID in Android?"
hi, i try to use the connect connectToProtectedSSID without password (only with '' ) and no luck. how i can, connect to a open wifi?

[2019-12-14 16:25] jkaravakis commented on #23
I believe PR #25 does not address this issue since it is an entirely separate function.

[2019-12-18 11:10] adnan1naeem commented on #2
this repo is not working in ios 12 plus. if someone has fixed it share link or repo?

[2019-12-18 21:58] josectobar commented on #2
@adnan1naeem, what type of error are you getting?

[2019-12-19 00:21] tshiamor-adft opened #29 "How to install on Android RN 6.0+"
Hi could I get better clearity on how to install on versions on RN 6.0 and above. Im new to rn.
1) I understand the library supports autolinking, I did a normal install via yarn add, however functions still fail at runtime, as they are  undefined.

2) Do we still need to use "import com.reactlibrary.RNWifiPackage;"  in RN 6.0. also is if so it in MainActivity.java or MainApplication.java. document

[2019-12-19 10:32] adnan1naeem commented on #2
@josectobar   i am facing this  this error "Cant get ssid"

[2020-01-07 00:46] shamilovtim commented on #23
#25 is unrelated

[2020-01-07 12:27] JulesCourtois opened #30 "addOrUpdateFailed"
Hi,

I'm getting the following error message :
`Error: Could not add or update network configuration with SSID <SSID>`
When trying to use `connectToProtectedSSID` on android with an IoT Amazon Button.

The capabilities of the network are `[WPA2-PSK-CCMP+TKIP][WPA-PSK-TKIP+CCMP][ESS]`

This is my code
`await WifiManager.reScanAndLoadWifiList(
                  wifiList => {
                    let

[2020-01-07 14:54] JulesCourtois commented on #30
I've found the solution.

This was caused by Android behaviour which only allows an app to modify a network state if it was added by said app and not by another app or the user.

[Source](https://developer.android.com/about/versions/marshmallow/android-6.0-changes)

[2020-01-07 14:54] #30 closed

[2020-01-10 19:39] loureirorg commented on #22
Same problem (expo, "WifiManager is undefined" error), but it didn't work for me upgrading react-native to version 0.61.5 :(

[2020-01-11 07:58] vatsalkgor commented on #22
Seems (since you are getting undefined error) you are using managed expo project. Managed expo project doesn't support native modules. You need to do `expo eject` in your app. Also in ejected project you need to request Android Location permission to make it work (have not checked on iOS).

[2020-01-13 05:39] yosimasu opened #32 "Question: Does It need to apply Apple Network Extension?"
@JuanSeBestia

Thanks for nice library.

When integrate this library into projects. Does it need to apply [Apple Network Extension](https://developer.apple.com/documentation/networkextension)?

[2020-01-13 13:27] loureirorg commented on #22
Got it. Thanks, @vatsalkgor . Yeah, that was the issue.

[2020-01-13 16:18] Rapsssito commented on #23
@jkaravakis, I created #31. I believe it fixes your issue.

[2020-01-14 17:49] Rapsssito commented on #32
@yosimasu, since it uses `NEHotspotConfigurationManager` and modifies the WiFi configuration, I think it does.

[2020-01-14 18:22] #32 closed

[2020-01-14 18:31] JuanSeBestia commented on #29
You had ran this steps:
[code]

[2020-01-15 00:44] tshiamor-adft commented on #29
thanks @JuanSeBestia , but I believe those are steps for ios. The confusion is concerning react native on android, for RN0.60+, as it only supports auto link.

[2020-01-15 14:13] eliaslecomte commented on #2
I have created a pr for this. (https://github.com/JuanSeBestia/react-native-wifi-reborn/pull/33)

[2020-01-15 14:15] eliaslecomte commented on #29
So with autolinking the library is linked in the android project automatically. npm i react-native-wifi-reborn and you are ready to use it. Are you having issues?

[2020-01-16 06:31] yosimasu commented on #32
@Rapsssito

Does it need a special entitlement?
Something like an entitlement for Hotspot Helper API.
Or just enable network extension capability.

[2020-01-16 09:55] Rapsssito commented on #32
@yosimasu, I only enabled network extension capability and works fine.

[2020-01-19 16:42] despossivel opened #34 "isRemoveWifiNetwork does not work"
I'm trying to forget about a network, I pass to the ISRemoveWifiNetwork its SSID, and the callback returns me true, but the network is not forgotten. Has anyone ever experienced this?

I am granting WRITE_SETTINGS permission

[2020-01-20 05:32] stanpak commented on #15
Yes please. I ran into the issues while using newest react-native with your library. It complains that the .d.ts file is not found. I created one (index.d.ts) with single line "declare module 'react-native-wifi-reborn';" but it still generates error messages that let say "method isEnabled is undefined" or in that sort. So it looks like the system expects more meaningful content in this file.

[2020-01-21 15:36] #23 closed

[2020-01-21 15:37] JuanSeBestia commented on #23
:tada: This issue has been resolved in version 2.3.2 :tada:

The release is available on:
- [GitHub release](https://github.com/JuanSeBestia/react-native-wifi-reborn/releases/tag/v2.3.2)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-wifi-reborn)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-21 16:55] JuanSeBestia commented on #15
You would need declare like this https://stackoverflow.com/questions/31729668/how-to-declare-any-module-in-typescript.

But yes, it coming soon

[2020-01-23 19:53] ishtiaq-punch commented on #28
I need help on this too.

[2020-01-24 09:43] Mjxa commented on #28
Hello, i have passed null and my Android  device successfully connected to open SSID

[2020-01-24 10:35] GusNando commented on #28
Hi, can you share some code?

Pada tanggal Jum, 24 Jan 2020 17.43, Mjxa <notifications@github.com>
menulis:

[2020-01-24 11:50] Mjxa commented on #28
WifiManager.connectToProtectedSSID(SSID, null, false).then(()=>{

[2020-01-24 11:53] Mjxa commented on #28
WifiManager.connectToProtectedSSID("GW_AP_12656207", null, false).then(()=>{

[2020-01-28 17:32] ferMartz opened #35 "How to enable Access WIFI Information, with correct profile from EXPO"
Hi,

First of all, thanks for making this code available.

I'm running a react native app directly from expo(V0.61).
I'm not running any emulator, is it possible to add the profile as specified in the instructions directly in expo or in react native? Sorry I'm a bit confused there.

Thanks in advance!!!

FM

[2020-01-31 16:48] Rapsssito commented on #2
@admah, could test it with `react-native-wifi-reborn` **2.3.1**?

[2020-02-04 01:05] #2 closed

[2020-02-07 07:22] kalraneeraj24550 opened #37 "connection error"
[code]
### Expectation
It should connect to wifi when i enter correct ssid, password

### Reality
When i enter correct ssid and wrong password it says ''Connected successfully!'' and in wifi list it shows the ssid that i were trying to connect with

OS: Android

Now i rebuild the application , and i try to connect it says failure all the time even if i enter correct credentials

[2020-02-08 11:23] tsVestor opened #38 ""connectToProtectedSSIDPrefix" isnt available"
The documented function connectToProtectedSSIDPrefix() is not implemented in Android.

[code]

This function is also not included in `react-native-wifi-reborn/android/src/main/java/com/reactlibrary/rnwifi/RNWifiModule.java`

[2020-02-13 09:20] marionboynton1 opened #39 "loadWifi for iOS"
will a loadwifi function to show available networks for ios be created? And can one connect to one of the networks by selecting the network on the list on the app?

[2020-02-27 13:49] fcaraballo opened #41 "forceWifiUsage false and true"
Hi all, I have an issue that I cannot solve, not sure what's going on

I have a raspberry pi with a hotspot, in my RN app I want to hit an endpoint to get a command to then send it to my hotspot.

The thing is that if I use it like this
[code]

I get the right data, then if I do

[code]

it works too, BUT if I use them both together the SSH command does not work

[code]

This is my AndroidManifest

[2020-02-27 22:47] Rapsssito commented on #39
@marionboynton1, sadly, iOS does not allow to retrieve all the available networks. However, you should take a look at **[connectToProtectedSSIDPrefix()](https://github.com/JuanSeBestia/react-native-wifi-reborn#connecttoprotectedssidprefixssidprefix-string-password-string-iswep-boolean-promise)**, it might help you!

[2020-02-27 22:47] #39 closed

[2020-02-27 22:57] Rapsssito commented on #26
There is actually a way to detect it, but I believe only on Android and with native code. Take a look at this [StackOverflow answer](https://stackoverflow.com/a/19567423/12694804).

This has become a feature request.

[2020-02-27 23:01] #29 closed

[2020-02-27 23:02] Rapsssito commented on #34
@despossivel, could you provide more info about your system? (OS, react-native-wifi-reborn version, RN version, etc.).

[2020-02-27 23:21] Rapsssito commented on #38
This is a bug in the documentation. It has been updated on 932eb9b82f3d994135caf795c1e2b62a7dbc0d7e!

[2020-02-27 23:21] #38 closed

[2020-02-27 23:26] Rapsssito opened #42 "Add Sponsor button"
@JuanSeBestia, could we enable the `Sponsor` button on this repo? There might be some users interested in supporting our work!

[2020-02-28 08:11] thibmaek commented on #15
Feel free to look here: https://github.com/inthepocket/react-native-wifi-reborn/blob/master/index.d.ts

We forked this lib to our TS codebase because upstream repo wasn't working for our application and added TS support along the way.

[2020-02-28 08:37] eliaslecomte commented on #34
This only works when your app connected with the wifi network in the first place. Is that the case?

[2020-02-28 11:18] despossivel commented on #34
@Rapsssito O SO é ANDROID 8, RN is the last.

@eliaslecomte  And yes it is connected

[2020-02-28 12:16] eliaslecomte commented on #34
I meant, if the app made the connection (by using connectWithProtectedSSID), it should also be able to remove it. If you made the connection yourself (in wifi settings), the app will not be able to remove it.

[2020-02-28 12:43] Rapsssito commented on #15
@thibmaek, thanks! We'll take a look at it.

[2020-02-28 17:41] despossivel commented on #34
huuuuum, I didn't get to observe that. but I will check

[2020-03-02 08:24] thibmaek commented on #15
Let me know if I can help out with this.

[2020-03-04 00:09] #16 closed

[2020-03-04 16:48] #15 closed

[2020-03-04 16:49] JuanSeBestia commented on #15
:tada: This issue has been resolved in version 2.4.0 :tada:

The release is available on:
- [GitHub release](https://github.com/JuanSeBestia/react-native-wifi-reborn/releases/tag/v2.4.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-wifi-reborn/v/2.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-11 02:24] ljbatwh opened #47 "connectToProtectedSSID should update network configuration if password changed."
When there is a configured wrong Wifi hotspot in the Android wifi setting, the connectToProtectedSSID failure.
Reproduce steps:
1. on the Android WiFi setting page, join a WiFi, such as 'WiFi 1', with a wrong password. No doubt, it will fail.
2. then call connectToProtectedSSID with the correct password

Expected:
connectToProtectedSSID return sucess

Actually:
connectToProtectedSSID timeout

By l

[2020-03-11 07:28] eliaslecomte commented on #47
You can actually remove it first yourself by calling isRemoveWifiNetwork(ssid) but there is one problem with this you can't fix; if the wifi network configuration was created by the user or by another app, your own app can't remove it.

[2020-03-11 07:31] eliaslecomte commented on #41
You should ask this question on Stackoverflow.

[2020-03-11 21:44] ljbatwh commented on #47
@eliaslecomte Thanks for your solution. Yes, in my situation, I can not guarantee to remove the Wifi because maybe the user created the WIFI configuration. But in this situation, call wifiManager.updateNetwork() also will fail, right? In this situation, should we reject the promise by throw an exception to indicate the existed Wifi configuration is not the same as we passed in?

[2020-03-12 08:49] eliaslecomte commented on #47
If this PR: https://github.com/JuanSeBestia/react-native-wifi-reborn/pull/46 is accepted and a new version is published, this condition will actually be checked. (try to remove or if that fails, try to connect with saved connection). Also the promise will actually be rejected if it couldn't connect in this case.

[2020-03-16 15:12] giambafiume opened #50 "Error after npm install"
FAILURE: Build failed with an exception.

What went wrong:
[code]

[2020-03-16 15:29] giambafiume commented on #50
I've tried to change the minSdkVersion both in gradle and AndroidManifest.
This is the new error:

Deprecated Gradle features were used in this build, making it incompatible with Gradle 6.0.
Use '--warning-mode all' to show the individual deprecation warnings.
See https://docs.gradle.org/5.5/userguide/command_line_interface.html#sec:command_line_warnings
241 actionable tasks: 30 executed, 211 up-t

[2020-03-17 12:17] Sascha1997 opened #51 "Functions aren't responding properly on Android"
This is maybe a bad question :|

I have successfully implemented react-native-wifi-reborn into my app, but none of the functions are responding properly on Android.

For example getCurrentWifiSSID is giving the following logged response "Your current connected wifi SSID is <unknown ssid>"

connectToProtectedSSID is catching a failure, and loadWifiList is succeeding but returning an empty array.

I

[2020-03-17 12:43] eliaslecomte commented on #51
You need to request location permission first ;-). As you can read on the 'readme'; https://github.com/JuanSeBestia/react-native-wifi-reborn. Here you can see how to: https://github.com/JuanSeBestia/react-native-wifi-reborn/pull/45/files

[2020-03-17 12:43] #51 closed

[2020-03-17 17:40] prokis65 opened #52 "Expo: null is not an object (evaluating '_reactNativeWifiReborn.default.getCurrentWifiSSID')"
Hi,
following instructions, I tried to test this lib in my expo project:

import WifiManager from "react-native-wifi-reborn";

...
    WifiManager.getCurrentWifiSSID().then(
      ssid => {
        console.log("Your current connected wifi SSID is " + ssid);
      },
      () => {
        console.log("Cannot get current SSID!");
      }
    );
...

but have the following error:

null is not an obje

[2020-03-17 18:34] JuanSeBestia commented on #42
I'm not sure about that

[2020-03-17 19:05] JuanSeBestia commented on #35
Sorry for the delay, I'm not sure about how to configure the capabilities of iOS on Expo

I think you will need to eject the project to do that

[2020-03-18 10:24] Rapsssito commented on #42
@JuanSeBestia, an sponsor button will increase the visibility of funding options for the library. You can read more about it [here](https://help.github.com/en/github/administering-a-repository/displaying-a-sponsor-button-in-your-repository).
It will allow us to display a link for our Patreon, GitHub Sponsors, etc. It may be a controversial decision. **This is a suggestion. I leave to your judgment

[2020-03-18 10:32] Rapsssito commented on #50
Run `cd android && ./gradlew clean` before building so your build intermediates can reset.

[2020-03-18 10:32] #50 closed

[2020-03-18 10:38] Rapsssito commented on #47
@ljbatwh, thanks for the feedback! **I am closing this issue since #46 was merged**.

If the problem persists, feel free to reopen this issue.

[2020-03-18 10:38] #47 closed

[2020-03-18 10:41] Rapsssito commented on #37
@kalraneeraj24550, thanks for the feedback! Could you provide more info about your set-up (RN version, react-native-wifi-reborn version...)?

[2020-03-18 10:42] Rapsssito commented on #52
@prokis65, thanks for the feedback! Is your issue related to #35?

[2020-03-19 06:58] prokis65 commented on #52
Hi,
it looks like I can't import WifiManager correctlly.
Any use of WifiManager in my code ends in error (null is not an object (evaluating '_reactNativeWifiReborn.default.getCurrentWifiSSID'))

[2020-03-19 09:12] hansyulian opened #54 "Unable to run the app after adding the package."
I'm using react native 0.61.5, for some reason i can't use `react-native run-android` after installing this package. here is the error reported

[code]

[2020-03-19 09:50] eliaslecomte commented on #54
That is stupid. I will make sure that this allowBackup is removed from the WifiUtils library that we are using in a future version.

You can now fix it yourself by making sure you have tools:replace="android:allowBackup" in your <application> tag (android/app/src/main/AndroidManifest file)

Example:
`<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schem

[2020-03-19 09:58] eliaslecomte commented on #54
See https://github.com/ThanosFisherman/WifiUtils/pull/57

[2020-03-19 10:21] Rapsssito commented on #52
@prokis65, which steps did you follow for the installation? Could you provide your RN version, OS, react-native-wifi-reborn version, etc.?

[2020-03-19 11:20] prokis65 commented on #52
bellow find my package.json, please.
I is not a fresh project but was created by expo init.
I added react-native-wifi-reborn by npm install react-native-wifi-reborn
--save, and tried also react-native link react-native-wifi-reborn.

{
  "main": "node_modules/expo/AppEntry.js",
  "scripts": {
    "start": "expo start",
    "android": "expo start --android",
    "ios": "expo start --ios",
    "web":

[2020-03-19 14:23] ferMartz commented on #35
@JuanSeBestia

No worries, I created a new react native without expo and I'm planning to add react-native-wifi-reborn. I will let you know how it goes :-)

[2020-03-19 14:36] Rapsssito commented on #52
@prokis65, I don't know about EXPO, but I think you may have to _eject_ the project before installing `react-native-wifi-reborn`.

[2020-03-24 11:43] theIYD opened #57 "WifiAware"
Is [this](https://developer.android.com/guide/topics/connectivity/wifi-aware) supported in React Native ?

[2020-03-24 11:58] eliaslecomte commented on #57
Not yet in this library. Not sure about others. Should ask this on Stackoverflow...

[2020-03-24 12:09] theIYD commented on #57
@eliaslecomte Okay, if i may ask, how can we implement it from scratch in React Native ?

[2020-03-29 14:10] dgana opened #58 "getCurrentWifiSSID() not detected"
I'm using WifiManager.getCurrentWifiSSID();
but it creates error. Running on iOS 13.4 device. Any idea maybe?

[code]
package.json
[code]
Info.plist
[code]

[2020-03-29 14:36] dgana commented on #58
I'm closing this because i have to set the capabilities of access wifi information first in xcode

[2020-03-29 14:36] #58 closed

[2020-03-29 18:40] eliaslecomte commented on #28
On Android it should work by just::
`WifiManager.connectToProtectedSSID('network-ssid', '', false);`

[2020-03-29 18:40] #28 closed

[2020-03-31 16:20] #34 closed

[2020-04-08 00:05] #24 closed

[2020-04-08 00:05] #26 closed

[2020-04-09 06:54] nashvent opened #61 "Enable Hotspot Configuration in iOS"
In the readme the instructions for iOS this requirement (Hotspot Configuration) is missing

[2020-04-09 07:18] eliaslecomte commented on #61
I'm not an iOS expert, but does that hotspot config not gets added when selecting the Access WIFI Information?

[2020-04-09 08:35] nashvent commented on #61
I was thinking the same thing. But in Xcode 11.3.1 I see that it's separated
![capture](https://user-images.githubusercontent.com/18234702/78875041-e8aeef00-7a12-11ea-9127-f507509d46bd.jpg)

[2020-04-15 00:51] gwheele1 opened #62 "error: package androidx.core.content does not exist"
Task :react-native-wifi-reborn:compileDebugJavaWithJavac
C:\Project\node_modules\react-native-wifi-reborn\android\src\main\java\com\react
library\utils\PermissionUtils.java:10:
error: package androidx.core.content does not exist
import androidx.core.content.ContextCompat;

Any ideas for solving this?

[2020-04-15 05:05] eliaslecomte commented on #62
On what react native version are you? I assume you will have to update if you want to use the latest version of react-native-wifi-reborn.

[2020-04-16 08:44] fcaraballo commented on #41
well, this is a bug isn't it? shouldn't be created here?

[2020-04-16 08:52] eliaslecomte commented on #41
WifiManager.forceWifiUsage(true) returns a promise. Maybe that is your issue?

I don't think this is a bug as I am using forceWifiUsage() without issue. Can you add the error you get?

[2020-04-16 13:50] turanmehmetb opened #63 "TypeError: null is not an object (evaluating '_reactNativeWifiReborn.default.getBSSID')"
Hi, whenever i try a function from this lib it gets me this error:
`TypeError: null is not an object (evaluating '_reactNativeWifiReborn.default.getBSSID')`

I ve read #52 but couldnt relate at all. Im using android and didnt use expo. Here is my package.json:

 {
  "name": "hihts",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "android": "react-native run-android",
    "ios": "react

[2020-04-16 17:36] eliaslecomte commented on #63
Your dependencies look quite OK. Have you tried resetting packager / node_modules?
How does your import look like?

[2020-04-16 18:24] turanmehmetb commented on #63
yes i have tried.  My import code:

` import WifiManager from 'react-native-wifi-reborn';`

[2020-04-17 09:31] Rapsssito commented on #52
@prokis65, could you try two things?
* First try with `cd android` and run `./gradlew clean`.
* If it doesn't work try to reinstall your `node_modules`.

[2020-04-17 09:31] Rapsssito commented on #63
@turanmehmetb, could you try two things?
* First try with `cd android` and run `./gradlew clean`.
* If it doesn't work try to reinstall your `node_modules`.

[2020-04-17 09:33] Rapsssito commented on #63
@turanmehmetb, `getBSSID` is only available on Android, are you using Android in your tests?

[2020-04-17 09:39] Rapsssito commented on #54
Fixed with #53!

[2020-04-17 09:39] #54 closed

[2020-04-17 12:00] turanmehmetb commented on #63
yes im using android

[2020-04-17 12:13] Rapsssito commented on #63
@turanmehmetb, could you try two things?
* First try with `cd android` and run `./gradlew clean`.
* If it doesn't work try to reinstall your `node_modules`.

[2020-04-17 13:51] #63 closed

[2020-04-20 16:58] ferMartz opened #64 "Cannot get current SSID on iOS simulator"
I followed the instructions for iOS and I can't make it work on the simulator.

First, I spent several hours on a 'real' project to no avail.
Now I was trying do it with the simplest react app that I just created to test this library but no luck.

Here is what I see on the console:
[Mon Apr 20 2020 11:51:22.160]  LOG      Running "wifi" with {"rootTag":1,"initialProps":{}}
[Mon Apr 20 2020 11:51:2

[2020-04-22 14:22] ferMartz commented on #35
@JuanSeBestia

I'm closing this since I created a NEW react native native without expo.
However, when you have a chance can you take a look at this [issue #64](https://github.com/JuanSeBestia/react-native-wifi-reborn/issues/64)

Thanks!

[2020-04-22 14:22] #35 closed

[2020-04-22 20:04] anctsys opened #65 "Explain Origin of your source code"
Hello
I wish to have information on your source code of origins.

The source code you used to make react-native-wifi-reborn comes from https://github.com/robwalkerco/react-native-wifi
And this one itself comes from https://github.com/blackdeve/react-native-wifi/.
Can you explain to me why you did not use the code of @blackdeve to initialize the development of your application?

Bruno

[2020-04-23 21:52] scarlac opened #67 "Remove allowBackup=true"
Unable to build on Android due to an error caused by allowBackup set to false in my app but in the library it's set to true. The conflict means app devs have to override the setting for all tools which seems unnecessary.
The setting can be removed from the library.

Please see this dicussion on the topic which describes what I just said:
https://github.com/OfficeDev/msa-auth-for-android/issues/21

[2020-04-24 09:45] dimgrav opened #68 "connectToProtectedSSID does not behave as expected on Android"
package.json dependency versions:
[code]
Tested on **Xiaomi A2 Lite** running **Android Q**:

When running `connectToProtectedSSID()` on Android, my app seems to be connecting to the network, the Android notification pane status for Wifi changes to `"Connected via using app-name-here"`, but it does not seem to have internet connectivity.

If I "forget" the network and connect to it from within the

[2020-04-24 11:35] eliaslecomte commented on #68
Is it a network without or with internet?

[2020-04-24 11:37] eliaslecomte commented on #67
This is already reported; https://github.com/JuanSeBestia/react-native-wifi-reborn/issues/54

[2020-04-24 11:39] dimgrav commented on #68
It has internet connectivity that works properly.

[2020-04-24 14:32] scarlac commented on #67
Dupelicate

[2020-04-24 14:32] #67 closed

[2020-04-24 20:00] anctsys opened #69 "android:allowBackup is forced to true - security impact"
Hi

I try to install https://github.com/JuanSeBestia/react-native-wifi-reborn library

`$ npm install react-native-wifi-reborn --save`
`$ npx react-native run-android --verbose`

After this command the build start and stop with this error message

[code]

Thank you for help me

[2020-04-25 06:36] eliaslecomte commented on #69
Already reported in https://github.com/JuanSeBestia/react-native-wifi-reborn/issues/54 and https://github.com/JuanSeBestia/react-native-wifi-reborn/issues/67

[2020-04-25 06:36] #69 closed

[2020-04-26 17:02] anctsys commented on #69
Hi

You close all issues #54 and #67 and #69 but i don't see the new release or the correction.
Maybe I'm wrong, but can you send me the link to the correction.

Thank you so much

Bruno

[2020-04-26 17:57] eliaslecomte commented on #69
You are correct, it is not yet released. Working on that.

[2020-04-26 19:33] anctsys commented on #69
Ok Thanks o lot I try this in the meantime

Bruno

[2020-04-26 20:29] anctsys opened #70 "Typo error - Demo"
Hi

In the exemple you have a type error
`<Text style={styles.sectionTitle}>Conencted</Text>`
in this file https://github.com/JuanSeBestia/react-native-wifi-reborn/blob/master/example/RNWifiReborn/App.js

Bruno

[2020-04-27 10:03] eliaslecomte commented on #68
I am investigating this.

[2020-04-27 15:45] Pczek opened #71 "Should connectToProtectedSSIDPrefix work in the iPhone Simulator?"
I've been trying to get `connectToProtectedSSIDPrefix` to work.
The JS error states
`Error while configuring WiFi`
Whereas  the XCode console states
`NEHotspotConfigurationHelper failed to communicate to helper server.`

The answer in the apple dev forums says I need to have certain entitlements enabled.
https://forums.developer.apple.com/thread/127834

I double-checked and surely have all the men

[2020-04-28 23:17] Hugogsalas commented on #61
yes, I think is necessary add this instruction into the README file, I was two hours trying and searching

[2020-04-29 00:07] #37 closed

[2020-04-29 00:07] #42 closed

[2020-04-30 23:38] ljbatwh opened #73 "Android 10 (XiaoMi Mix2) after connecting to a IoT WIFI cannot receive multicast packets"
On Android 10(Xiaomi Mix2), After connecting an IoT WIFI by connectToProtectedSSID. the multicast socket can not be received.

But for a normal HTTP request, it will succeed.
If I connect the same IoT WIFI by manual. the multicast socket can be received.
@Rapsssito or anybody could give some idea about this?

[2020-05-01 13:10] eliaslecomte commented on #73
What error do you get? (Also using udp).

[2020-05-01 14:25] eliaslecomte commented on #68
I've opened this PR: https://github.com/JuanSeBestia/react-native-wifi-reborn/pull/74.

[2020-05-01 14:25] #68 closed

[2020-05-01 17:45] anctsys opened #75 "loadWifiList - How to know error location or permission or not network"
Hi

Well done for this new version , but i have a big problem

Use case : Connect to wifi
To do this I would like know the list of available access point wifi and connect to one of them.
So I using loadWifiList() function.

Or If I forgot to active wifi and location i have any error message.
Could you put this error in loadWifiList like connectToProtectedSSID()

- location permission missing: The

[2020-05-01 18:26] eliaslecomte commented on #75
That is a good suggestion. Could you implement this and open a Pull Request for it? Do you have android / java / android programming experience?

[2020-05-01 18:40] anctsys commented on #75
Hi
I haven't a good xperience programming. But I can help with javascript programming.

[2020-05-01 20:08] anctsys commented on #75
Hi

I had this to RNWifiModule.java.
I'm not a java professional developper , i hope you can exploit my use case.

    /**
    * Detect if location is activated
    * BAN 01/05/2020
    */
    @ReactMethod
    public boolean checkLocationIsOn() {
        final boolean isLocationOn = LocationUtils.isLocationOn(context);
        return isLocationOn;
    }

[2020-05-01 21:03] anctsys commented on #75
Hi

I m not a pro but you can find my little contribution to detect if location is on (i reuse your code)

Bruno
[code]

[2020-05-03 11:12] notjulian commented on #64
@ferMartz
same problem here ... the same code works on a physical device but not in a simulator

https://stackoverflow.com/questions/25113027/ios-detect-connected-network-name-in-simulator-and-device

[2020-05-05 21:45] ljbatwh commented on #73
no errors. just not receive the multicast packets.

[2020-05-12 05:27] jcarioti opened #76 "forceWifiUsage causes all network requests to fail"
I'm trying to connect to an IoT-like device that has a hotspot but does not have internet. If I don't call forceWifiUsage(true), then I can get successful responses using fetch and RNFetchBlob. If I try to force wifi usage, however, all of my proceeding requests fail. When using fetch, I see `TypeError: Network request failed` and when using RNFetchBlob I'm seeing `Error: socket failed: ENONET (Ma

[2020-05-12 07:02] eliaslecomte commented on #76
I assume with 'then I can get successful responses using fetch and RNFetchBlob' that you mean against a public url and not with your IoT-like device?

[2020-05-12 07:12] jcarioti commented on #76
All requests are going to the IoT AP. I need to connect to the AP, make some API calls, and then disconnect without the OS disconnecting me automatically.

As of right now, I can't get requests to succeed if I force wifi usage before connecting to the AP.

Also, I cannot disconnect from the AP using the `isRemoveWifiNetwork` function.

[2020-05-12 07:14] eliaslecomte commented on #76
You first need to connect to the AP, then you can forceWifiUsage.

isRemoveWifiNetwork on < Android 10 only works if the wifi network was not yet in the saved networks list.

[2020-05-12 07:29] jcarioti commented on #76
That seems to be working. Thank you!

I'm on Android 10 and it won't disconnect immediately. When it does disconnect, it won't reconnect to the known, nearby home network afterwards. The phone just sits without a wifi connection until I force close the app. Once the app is closed, the phone will connect to the known home wifi again.

Is this the proper order to disconnect?:
[code]

[2020-05-18 19:17] cashc opened #77 "Lint Error in Android from using wifi.getConfiguredNetworks"
Running an android build after installing this module causes the build to fail because of this linter error:
[code]

I believe the fix is to ask for permission to use location services before calling the `getConfiguredNetworks` function, as outlined in this SO answer https://stackoverflow.com/a/33731050. I'm happy to take a stab at implementing this if the maintainer of this repo is open to a PR f

[2020-05-19 06:17] eliaslecomte commented on #77
Have you gone through the readme? https://github.com/JuanSeBestia/react-native-wifi-reborn#access_fine_location-permission

[2020-05-19 09:47] xralphack opened #78 "build for android issues"
react-native version: 0.59.10

1.

[code]

I have to add the following in node_modules/react-native-wifi-reborn/android/gradle.properties

[code]

2.

uses-sdk:minSdkVersion 16 cannot be smaller than version 21 declared in ...
so this library can not support version below 21?

[2020-05-19 09:51] eliaslecomte commented on #78
The latest version of this library only supports React Native 60+ and Android 21+.
Android SDK 20 is Android 4.4 and was released in 2014. Are your users still using that?

[2020-05-19 09:51] #78 closed

[2020-05-19 10:19] xralphack commented on #78
I have not update from 0.59.10 to 0.60+, so I may change sdk:minSdkVersion to 21.

Can you add the following lines for those don't use androidx ?

[code]

[2020-05-19 11:21] eliaslecomte commented on #78
You have to add those in your projects gradle.properties. They should not be part of this library.

[2020-05-19 12:20] xralphack commented on #78
got it, thx for your help

[2020-05-19 12:57] mpconstruct opened #79 "Asking Wifi on/off Permission repeatedly"
When we try to connect the ssid in Android , It will asks permission repeatedly and also It doesn't responds to the user permission selection

[2020-05-19 13:20] eliaslecomte commented on #79
What device are you using. Could you make a movie of the behavior?

[2020-05-19 13:28] mpconstruct commented on #79
I am using redmi4, redmi 3s prime, redmi 7s Pro

[2020-05-19 15:13] cashc commented on #77
yes, I have followed the Android steps in the readme and have added the line
`<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />`
to the `AndroidManifest.xml` file. The linter error still appears though.

Idk if this matter but these are my versions:
[code]

Also, I added the `ACCESS_FINE_LOCATION` permission to your react-native-wifi-reborn project manifest file and then r

[2020-05-21 07:03] mieupro18 commented on #79
Same issue is happening for me in Redmi note 5

[2020-05-21 11:12] notjulian commented on #71
Hi,
you need to use a physical device ...
to debug use ngrok (ngrok http 8081) and change the default development server
and add these entitlements:
![Screenshot 2020-05-21 at 13 07 21](https://user-images.githubusercontent.com/2241601/82553565-93fba980-9b64-11ea-93ec-be79347759cd.png)

[2020-05-21 15:12] olegz-codefresh commented on #52
I have same problem. Anyone knows how to solve it?
Few things:
1) ACCESS_FINE_LOCATION permissions is granted
1) reinstalling `node_modules` didn't help
2) simmilar error with others wifi/networks npm modules

[2020-05-22 05:47] eliaslecomte commented on #52
Emulator or device? Android or iOS?

[2020-05-22 10:43] eliaslecomte commented on #75
It's in PR: https://github.com/JuanSeBestia/react-native-wifi-reborn/pull/81

[2020-05-22 10:43] #75 closed

[2020-05-22 11:11] eliaslecomte commented on #76
Yes the code looks correct to me. Did you test on multiple devices?

[2020-05-25 03:51] xralphack opened #84 "Android 10 cancel button"
As I click cancel button on pop up dialog, connection timeout callback still invoked.

And there is no way to add handler when user click the cancel button

[2020-05-25 08:20] eliaslecomte commented on #84
I know :-(, still have to take that up.

[2020-05-25 08:57] xralphack commented on #84
I also opened an issue on WifiUtils.

https://github.com/ThanosFisherman/WifiUtils/issues/68

[2020-05-25 09:00] eliaslecomte commented on #84
I will tackle it in the WifiUtils code base.

[2020-05-26 13:22] uranashel44 opened #85 "Version 4.0.1 for Android 10, connectToProtectedSSID connected ok but cannot call apis"
Hi @JuanSeBestia , can you please check why in Android 10, latest version, I could connect to wifi name and password but can not call api

Thanks for this awesome lib.

[2020-05-26 13:25] eliaslecomte commented on #85
Does the wifi access point has internet access?
You could try wrapping your api call with:
forceWifiUsage(true)
// api call
forceWifiUsage(false)

[2020-05-26 13:29] uranashel44 commented on #85
Thanks for fast reply.

Can I have to add this into the first of time initialize WifiManager, and only one time?

[2020-05-26 13:31] eliaslecomte commented on #85
You can choose to do it once you are connected and then before disconnecting or wrapping it round each api call directed to the AP.

[2020-05-26 13:39] uranashel44 commented on #85
Thank. Just tried and it does not work as expected. Wifi icon in status bar has symbol 'x' <=> could not access to internet (I have tried to go to the web, but could not connected).

I try to close the app, and have to connect myself again, internet back.

Any way else, the solution above not work. @eliaslecomte ?

[2020-05-26 13:46] uranashel44 commented on #85
Ah, one thing is: my device is Xiaomi - Android 10.

[2020-05-26 14:25] uranashel44 commented on #85
@eliaslecomte , do you have another solution for this?

[2020-05-26 14:25] eliaslecomte commented on #85
It's important to know that since Android 10, the api we use to connect with your wifi network, only allows your app to use the wifi, and not, for example the browser.

[2020-05-26 14:29] uranashel44 commented on #85
Yes. But I mean when I tried to connect to wifi with pass/ssid, the connection is not reachable (load data failed). (Its only works when I force close the app and wifi back to normal) @eliaslecomte

[2020-05-26 14:47] uranashel44 commented on #76
@eliaslecomte , my issue got the same with this issue.

[2020-05-26 15:57] jcarioti commented on #76
I tested on a Pixel 3a. It didn't work, so I didn't move on to any other devices. I wrote my own using NativeBridge and it's working perfectly.

[2020-05-26 17:11] coffteam2020 commented on #76
@jcarioti , can you please share your code?

[2020-05-26 17:43] jcarioti commented on #76
Connecting and locking to a network:
[code]

Releasing a lock and disconnecting:
[code]

[2020-05-27 08:44] Rapsssito commented on #84
Moved to ThanosFisherman/WifiUtils#68

[2020-05-27 08:44] #84 closed

[2020-05-27 08:46] #70 closed

[2020-05-27 08:47] Rapsssito commented on #65
@JuanSeBestia

[2020-05-27 08:48] Rapsssito commented on #64
Discussion moved to #71

[2020-05-27 08:48] #64 closed

[2020-05-27 08:51] Rapsssito commented on #71
Yes, `connectToProtectedSSIDPrefix` it is not usable on the simulator. Plus, the constant WiFi metro connection for React Native development does not make things easier.
If someone knows a hacky way, more than welcome!

[2020-05-27 14:15] notjulian commented on #71
hi @Rapsssito ,
I've used this method
change bundler to a internet bundler using a ngrok tunnel

1. ngrok http 8081
![Screenshot 2020-05-27 at 16 06 10](https://user-images.githubusercontent.com/2241601/83031447-d9244d80-a034-11ea-8132-266e1cd25a55.png)

2. Configure bundler
![Screenshot 2020-05-27 at 16 07 22](https://user-images.githubusercontent.com/2241601/83031347-bbef7f00-a034-11ea-9f6c-262b

[2020-05-28 08:18] dimgrav opened #86 "Unable to call WifiManager.connectToProtectedSSID() on multiple Android API levels"
Tried on:

- Xiaomi A2 Lite - Android 10 (physical device)
- Pixel 2XL - Android 8.1 (emulator)
- Nexus 5X - Android 9 (emulator)

Package versions:
[code]

In my app, I use `PermissionsAndroid` to request location permission from the user and a simple form requesting the SSID and password. The "connect" button does something like this:

[code]
As soon as JS calls `WifiManager.connectedToProtected

[2020-05-28 09:05] eliaslecomte commented on #86
Why don't you add

[code]

To your build.gradle so you can build?

[2020-05-28 10:24] dimgrav commented on #86
I actually had to add that to `node_modules/react-native-wifi-reborn/android/build.gradle` to be able to build.

In any case, since Android Studio has issues with other autolinked packages I'm using, native debugging of the library from my part is a huge pain at the moment.

[2020-05-28 12:57] dimgrav commented on #86
@eliaslecomte closing, as the issue apparently was caused by an earlier check, calling `WifiManager.isEnabled()` and still expecting a callback.

I first noticed it here: https://github.com/inthepocket/react-native-wifi-reborn/commit/5631fe8e9982701cc5d9771b859d99e7b902584e#diff-2107d8934b63e8c85f210a077d70193e
then verified it here: https://github.com/JuanSeBestia/react-native-wifi-reborn/commit/

[2020-05-28 12:58] #86 closed

[2020-05-28 13:03] eliaslecomte commented on #86
It's actually mentioned in the new readme: https://github.com/JuanSeBestia/react-native-wifi-reborn#isenabled-promiseboolean and also in the release page: https://github.com/JuanSeBestia/react-native-wifi-reborn/releases

[2020-05-28 13:05] dimgrav commented on #86
I missed it, cause the first release I was notified about was 4.0.1 and did not check earlier release notes... -_-

Kudos mate.

[2020-05-29 00:14] #62 closed

[2020-05-29 00:14] #41 closed

[2020-05-29 00:14] #57 closed

[2020-05-29 07:00] jk89gr commented on #79
Hello, same issue here.
Device: Redmi Note 8 Pro

[2020-05-29 13:07] dimgrav opened #87 "Multiple inconsistencies in lib behavior (Android)"
Tested on React Native (Android only):
* 0.59.8
* 0.60.3
* 0.62.2

We are trying to integrate this library in a production level. So far, we've stumbled upon numerous issues, that do not appear to have been resolved in version **4.1.0**.

**Xiaomi Redmi Note 8 Pro - MIUI version 11.0.3.0 (based on Android P)**

* Wifi permission request loop that breaks randomly (with or without user interaction)

[2020-06-01 12:53] Rapsssito commented on #87
@dimgrav, looks like `forceWifiUsage()` causes some connectivity issues (see #76).
If you are using a TCP connection to communicate with your IoT devices, I recommend you [`react-native-tcp-socket`](https://github.com/Rapsssito/react-native-tcp-socket), it allows you to bind your socket to an specific interface (`ethernet`, `wifi`, `cellular`, etc.) without forcing the whole app to use the WiFi co

[2020-06-01 12:58] Rapsssito commented on #73
@ljbatwh, in order to check if it is an issue with your IoT device or `react-native-wifi-reborn`, can you check if you can receive multicast packets in other device?

[2020-06-01 18:51] eliaslecomte commented on #87
You have to connect first, then call _WifiManager.forceWifiUsage(true);_.
I think I'll add something to the readme to make this more clear.

The loop issue is actually a firmware bug, it's up to Oneplus and Xiaomi to fix that :-/.

[2020-06-08 10:02] #77 closed

[2020-06-08 10:04] JuanSeBestia commented on #77
:tada: This issue has been resolved in version 4.2.0 :tada:

The release is available on:
- [GitHub release](https://github.com/JuanSeBestia/react-native-wifi-reborn/releases/tag/v4.2.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-wifi-reborn/v/4.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-08 10:04] JuanSeBestia commented on #70
:tada: This issue has been resolved in version 4.2.0 :tada:

The release is available on:
- [GitHub release](https://github.com/JuanSeBestia/react-native-wifi-reborn/releases/tag/v4.2.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-wifi-reborn/v/4.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-16 03:54] kilisoria commented on #52
Hi Guys, I'm having same error using iOS emulator. iOS 13. Anyone has some idea?

[2020-06-16 10:02] nitin992503 commented on #87
Hello @eliaslecomte,
In I am trying to connect to wifi of esp32 from android using this library. But it keeps disconnecting. WiFi first connects then a pop appears and then WiFi disconnects and pop disappear too. This cycle keeps going on and after some time wifi connects to my home network and then a pop up appear with failue message . Do you think this is also a firnware bug ?

[2020-06-16 11:29] eliaslecomte commented on #87
What smartphone brand/model are you using?

[2020-06-16 14:05] nitin992503 commented on #87
I am using Oneplus for testing purposes

[2020-06-16 14:06] nitin992503 commented on #87
Thanks for your quick reply

[2020-06-16 17:03] qcasey commented on #87
I think the consensus is that this is OnePlus's issue to solve, see the thread here: https://github.com/ThanosFisherman/WifiUtils/issues/63

In the meantime, you may want to look into the OTA updates for your device, some people claim it's fixed in beta versions:

https://issuetracker.google.com/issues/143549613#comment26

I haven't tried any, since my OP7Pro is my daily

[2020-06-17 07:31] nitin992503 commented on #87
Thank you for your comment @qcasey , I have the same issue as this one https://github.com/ThanosFisherman/WifiUtils/issues/63 . The current version of oxygen OS in my phone is 10.3.4 and in the issuetracker somebody mentioned the fix in 10.5.7, this update is not yet available to me. So i guess i will just have to wait until this update is made available.

[2020-06-17 17:05] Rybachello commented on #79
Hello, same issue
Devide: Redmi 5 Plus

[2020-06-18 13:35] Rybachello opened #89 "`Unable to connect to` error is raised after successful connection to WiFi on iOS"
### Issue Description

After a successful connection to the WiFi, the `Unable to connect to` is raised on iOS.

### Steps to Reproduce

[code]

### Environment
I ran on a real device (iPhone XR, Software Version 13.5)

[code]

[2020-06-25 07:53] Shamplol commented on #79
Same issue for me on my Pocophone F1. If you go in the app settings, under "other permissions" (on MIUI) you can then set "Change Wi-Fi Connectivity" to "Accept. I wonder if there is a way to do that programmatically.

[2020-06-29 01:36] kilisoria opened #90 "Connect to device in lopping"
Hi All!

I'm having an issue to connect my app against a real Android device, using the default code on the page.

[code]

[code]

The problem is the device connects in loop, it shows firstly "device to use with [APP NAME] " later the "connection successful" message but the process repites in loop. My code in the app ran only one time.

Someone has any idea regarding it? Or have it or a similar ca

[2020-06-30 08:45] wattanakorn495 opened #91 "Android Wifi frequency dual band"
Is it possible to detect dual band wifi on android ?

[2020-07-01 20:18] #71 closed

[2020-07-01 20:57] notjulian commented on #89
Hi @Rybachello ,
check if you have added this add these entitlements:
![82553565-93fba980-9b64-11ea-93ec-be79347759cd](https://user-images.githubusercontent.com/2241601/86290735-3d1ad280-bbee-11ea-9a3f-80e06b32dffd.png)

[2020-07-02 11:29] Rybachello commented on #89
@notjulian Yes, I have added, but still got an error.

[2020-07-02 12:05] notjulian commented on #89
@Rybachello
what you read on the console of xcode?
can you post it here, please?

[2020-07-02 13:50] Rybachello commented on #89
@notjulian  I double-checked entitlements and I found that I didn't add Access Wifi Information to entitlements.
Thank you for help.

[2020-07-02 13:50] #89 closed

[2020-07-02 14:33] notjulian commented on #89
@Rybachello you're welcome

[2020-07-08 00:19] #85 closed

[2020-07-08 00:19] #65 closed

[2020-07-08 07:57] CKitisak opened #93 "Native module WifiManager tried to override RNWifiModule"
I'm using the react-native with react-native-navigation and I stuck with the error below. please suggest me how to solve it.

I have tried adding this in `MainApplication.java` but doesn't solve the problem.

[code]

![Screenshot_20200708-133237_CeosQuickConnect](https://user-images.githubusercontent.com/2785185/86892222-27476900-c12a-11ea-9c55-947c11dc3290.jpg)

here is my deps:
"react": "16.11.0

[2020-07-08 07:59] eliaslecomte commented on #93
You don't have to add it, that should happen by autolinking (automatic).

[2020-07-09 04:39] CKitisak commented on #93
@eliaslecomte thank you. it works after removed it. so I think the document of `When using Wix React Native Navigation` need to be updated or remove to not confuse anyone in the future.

[2020-07-09 04:39] #93 closed

[2020-07-09 07:30] eliaslecomte commented on #93
Wix React Native Navigation fixed autolinking in their last version.

[2020-07-12 17:20] rachitgupta98 commented on #47
hey @Rapsssito @eliaslecomte
connectToProtectedSSID does not work if password changes, is there any way to connect with the network other than going to wifi setting, forget the network and then connect.

[2020-07-13 06:34] eliaslecomte commented on #47
Yes unfortunately this is how Android is. I am curious, since, starting Android 10, the network configuratin isn't persisted in Wifi Settings, if this is also still a problem.

[2020-07-15 00:20] #73 closed

[2020-07-15 00:20] #76 closed

[2020-07-15 00:20] #61 closed

[2020-07-18 06:16] pouyaalikhanzade opened #94 "Android application crashed in connecting to a second wifi"
hi for an IOT project i am connecting to an esp wifi using your package...
phone successfully gets connected to esp but after i want to connect the phone back to my own wifi application shows a toast said connection successful but application crashes and wifi gets connected and then it gets disconnected super fast my code is exacly same as documentation in both times
react-native: 0.62.2
react-nat

[2020-07-20 01:39] rogerespinoza commented on #52
Hi boy, excuse me, I have the same problem, first I tried to add the dependency in an expo app, but after ejecting it, and it didn't work, then I assumed it was something related to expo, and I tried in a pure reactNative app, and I also had a problem , I don't know what else could be the problem, I have reactNative@0.62, please can you help me or, say if someone had a similar problem.

[2020-07-20 01:40] rogerespinoza commented on #52
Hi Guys, excuse me, I have the same problem, first I tried to add the dependency in an expo app, but after ejecting it, and it didn't work, then I assumed it was something related to expo, and I tried in a pure reactNative app, and I also had a problem , I don't know what else could be the problem, I have reactNative@0.62, please can you help me or, say if someone had a similar problem.

[2020-07-20 01:42] rogerespinoza opened #97 "Problem in reactNative@0.63.1"
Hi Guys, excuse me, I have the same problem, first I tried to add the dependency in an expo app, but after ejecting it, and it didn't work, then I assumed it was something related to expo, and I tried in a pure reactNative app, and I also had a problem , I don't know what else could be the problem, I have reactNative@0.63.1, please can you help me or, say if someone had a similar problem. #52

[2020-07-20 05:16] eliaslecomte commented on #52
This doesn't work in an emulator?

[2020-07-20 05:28] rogerespinoza commented on #52
No, it works for me in android studio emulator, since I install the dependency.

[2020-07-20 05:32] rogerespinoza commented on #52
This is the error message I get when I try to install.
![Captura de Pantalla 2020-07-20 a la(s) 00 31 07](https://user-images.githubusercontent.com/55903874/87902941-8063a680-ca20-11ea-89d6-576d1472f2d5.png)

[2020-07-20 15:44] wathui99 commented on #52
Hi, this error will be solved if you guys eject to expokit
https://docs.expo.io/expokit/eject/

[2020-07-20 16:18] rogerespinoza commented on #52
Hello, in the documentation you specify that Expokit is deprecated, but I don't know where the problem originates, since I tried to add the dependency, in a project created with $ npx react-native init exapleProyect giving me the same error. in reactNative @ 0.63.1 version

[2020-07-24 08:17] Juanjofp commented on #79
Hello, same issue in Xiaomi mi mix 2 5G, some workaround?

Thank you in advance

[2020-07-24 08:59] jk89gr commented on #87
Hello @eliaslecomte ,
since this issue is still open, I though I might ask here, instead of raising a separate one.

The behavior that @dimgrav described:

still occurs on `4.2.0`.

Is this supposed to be fixed by now? If so, then i can only suspect that it's bad implementation from my end, so an example usage would be very much appreciated.

I think I'll add something to the readme to make this m

[2020-07-24 11:23] CKitisak opened #98 "Wifi list doesn't include hidden ssid wifi"
I have tried to get the hidden ssid network from this function `reScanAndLoadWifiList` on andriod but It seems not work.
Please give me some advice. thank you

[2020-08-01 00:23] #87 closed

[2020-08-01 20:34] eliaslecomte commented on #94
Instead of connecting back I would just disconnect and use [isRemoveWifiNetwork]( https://github.com/JuanSeBestia/react-native-wifi-reborn#isremovewifinetworkssid-string-promiseboolean).

Can you give more information about the error you are facing? Logs / exception.

[2020-08-01 20:36] eliaslecomte commented on #79
Can you then connect successfully? I assumed it was a problem with the new Android 10 wifi api.

[2020-08-01 20:38] eliaslecomte commented on #98
Well, if it's **hidden** I don't think it will show up in the list. And probably this will also break connecting via this library.

[2020-08-02 18:34] CKitisak commented on #98
Hi @eliaslecomte, is there any alternative ways to connect to the hidden wifi? it seems like we cannot connect to the wifi which doesn't exist on the list (from loadWifiList or reScanAndLoadWifiList).

[2020-08-03 07:47] Shamplol commented on #79
I've been using the library successfully despite having inconsistent behavior across different mobiles. It's been better since a recent MIUI update. I use it to connected to IoT devices (set as access points with no password) :

` const connectToWifiNetwork = async wifiNetwork => {
        await WifiManager.isRemoveWifiNetwork(wifiNetwork.SSID);

        return WifiManager.connectToProtectedSSID(w

[2020-08-04 18:37] eliaslecomte commented on #98
You will have to make a native module yourself. You can copy bits and pieces out of https://github.com/ThanosFisherman/WifiUtils. Up to android 9 you can just create the wifi configuration. Starting android 10, you will have to use the new api. Just skip the scanning part.

In react-native-wifi-reborn we scan first so that we know if the network is in range + what the security details of the netwo

[2020-08-04 18:41] eliaslecomte commented on #87
Yes it should be fixed.

What's the code you are currently using?

`try {
  await WifiManager.connectToProtectedSSID(ssid, password, false);
  await WifiManager.forceWifiUsage(true)
} finally {
  await WifiManager.forceWifiUsage(false))
}`

[2020-08-04 18:43] CKitisak commented on #98
Thank you I will have a look and try.

[2020-08-06 12:32] ammarkhan967 commented on #30
@JulesCourtois
we are facing the same problem with android 10. can you please the solution???

[2020-08-06 16:25] JulesCourtois commented on #30
@ammarkhan967
Try forgetting the network before connecting again.

[2020-08-08 00:24] #91 closed

[2020-08-08 00:24] #90 closed

[2020-08-10 22:25] teodorrd27 opened #100 "Code paths for already connected network resolve promise multiple times"
There is an issue on iOS with attempting connection to an already connected network. Here's the blob.

https://github.com/JuanSeBestia/react-native-wifi-reborn/blob/4f76b75489034d0fa70bc3ccc8e44eed094db8da/ios/RNWifi.m#L109

I suggest returning after resolve or wrapping everything after in an else block. Otherwise you will get
'No callback found with cbID xxxx and callID xxx for WifiManager.connec

[2020-08-11 06:56] arangu97 opened #101 "[Android] Connect to WiFi without internet access"
Hi,

When I connect to my IoT device access point WiFi that has not access to the internet, my mobile phone gets disconnected from it after 5-10 seconds due to its lack of access to internet.

Is there any way to force this connection even there is no internet access? Because in my situation I need the communication between the app and the IoT device and no Internet access is needed.

If somebody

[2020-08-11 07:16] eliaslecomte commented on #101
This is smartphone specific. Looks like letting the user connect, solves the problem. What smartphone models are giving you this problem?

[2020-08-11 09:27] eliaslecomte commented on #100
Can you make a pull request for it?

[2020-08-11 17:58] teodorrd27 commented on #100
Done, sorry for the closed request, I saw a better solution. Makes sense to reject the function call altogether. Otherwise for some reason `connectToProtectedSSID` would only work inside a try block.
Now we can call it neatly like this.
[code]
#103

[2020-08-13 07:11] arangu97 commented on #101
I dont think that is smartphone specific. I have tried with more than one brand(Xiaomi, Huawei...) and all have the Android 9 or 10 and in all of them this problem is happening. In some of them directly is not connecting whereas in others it connects but after 5-10 seconds it gets disconnected.

[2020-08-13 09:46] adnan1naeem commented on #30
@JulesCourtois  The solution is not working .Can you please sugggest any method that could work as its's alternate or some other solution which could work in android 10

[2020-08-13 19:24] eliaslecomte commented on #30
Actually if you are using the latest version you also have to target Android 10. I've updated the sample (to also target android 10) here: https://github.com/JuanSeBestia/react-native-wifi-reborn/pull/105

[2020-08-14 16:43] cashc commented on #101
This function sounds like exactly what you're looking for. https://github.com/JuanSeBestia/react-native-wifi-reborn#forcewifiusageusewifi-boolean-promise

[2020-08-17 07:00] arangu97 commented on #101
I thought also that this function could solve my problem but after testing it the problem that I mentioned still persists.

There should be a way to do it because in the Google Home configuration app, it mantain the connection to the Google Home Wifi access point that has no internet access.

[2020-08-17 08:56] PeterDwyer commented on #101
Android 10 uses a new wifi connection system. You will need to get the OS to create the connection and you will also need to set the connection settings so that you remove the requireswifi setting within the connection you create. This is some example code from a project I had to modify for the same reasons.
specifier = new Builder()
          .setSsid((String)ssidToConnect)
          .setWpa2Pass

[2020-08-17 09:36] arangu97 commented on #101
Ok, thank you.

So then, the React Native project must be ejected to native code in Android in order to use that functions right?

[2020-08-18 14:56] cashc commented on #101
@arangu97 you're right, I couldn't get the forceWifiUsage function to work either. All requests were going through my cellular connection.

I ended up installing the npm package rn-fetch-blob and using the wifiOnly option to get the network requests to my IoT device to work. This approach might be easier if you're not comfortable with writing native android code.

[2020-08-20 08:09] arangu97 commented on #101
Thank you for your response.

But in my case the problem is not when doing an HTTP request through a WiFi but just when connecting to the Wifi... After some seconds it disconnects from the wifi network without internet access. So I think that will no solve my problem :(

[2020-08-25 06:16] DrTerr opened #106 "[iOS] connectToProtectedSSIDPrefix display NEHotspotConfigurationError.userDenied"
If user denies a prompt when connectToProtectedSSIDPrefix is called, a generic error is raised, with only a localized message body to determine a error.

A error code must be attached to error properly
`case userDenied = 7` as stated in
https://developer.apple.com/documentation/networkextension/nehotspotconfigurationerror/userdenied

So library user can determine and react accordingly if user have

[2020-08-25 10:51] Rapsssito commented on #100
Moved to PR #103

[2020-08-25 10:51] #100 closed

[2020-08-25 11:00] Rapsssito commented on #97
@rogerespinoza, I am sorry you are having this issue. To avoid duplicate issues, I will remove this one and move the conversation over #52.

[2020-08-25 11:00] #97 closed

[2020-08-25 11:01] Rapsssito commented on #52
If you are using iOS, make sure to clean the build cache data.

[2020-08-25 13:55] rogerespinoza commented on #52
Thank you, if it worked for me clearing the gradlew cache.

[2020-09-04 20:39] #52 closed

[2020-09-06 15:51] Shing-Ho opened #111 "Error: Cannot detect SSID in iOS"
I am getting `Error: Cannot detect SSID` error in iOS when I tried `WifiManager.getCurrentWifiSSID`.

"react-native": "0.63.2"
"react-native-wifi-reborn": "^4.2.2"

I installed the pod correctly and add Access Wifi Information and Hotspot Configuration capabilities.
Also, I added the `Privacy - Location When In Use Usage Description` and `Privacy - Location Always and When In Use Usage Description

[2020-09-09 11:40] Shamplol commented on #79
The problem stopped on my pocophone F1 after recent MIUI updates

[2020-09-09 18:12] eliaslecomte commented on #111
Do you have more information like iphone model / emulator / iOS version?

[2020-09-09 18:13] eliaslecomte commented on #106
Hi, this is merged to master, should be released soon. Please help test / pr improvements if you can :-). One drawback is that not all iOS versions give the detailed error messages.

[2020-09-09 18:14] Shing-Ho commented on #111
iPhone model is iPhone6s 13.6
And I found it's not working in debug mode but working in release mode.

[2020-09-09 18:16] eliaslecomte commented on #101
Is it because of intelligent wifi switching mechanism? There is an open PR: https://github.com/JuanSeBestia/react-native-wifi-reborn/pull/115 that might help. Do you have it on specific devices / os versions or all?

[2020-09-09 18:19] eliaslecomte commented on #79
Yes this was definitely a firmware issue. I've added code to our android dependency https://github.com/ThanosFisherman/WifiUtils so that it mitigates the loop and throws an exception `android10ImmediatelyDroppedConnection`. It's merged and should be released soon.

[2020-09-09 18:26] eliaslecomte commented on #90
This is actually a firmware bug. Pr has been merged to avoid the loop & it should be released soon.

[2020-09-09 18:28] eliaslecomte commented on #111
Yes, once you connect with a wifi network you loose connection with your packager / your app freezes.

[2020-09-09 18:28] #111 closed

[2020-09-09 18:30] Shing-Ho commented on #111
So is there no way to work in debug mode?

[2020-09-09 18:31] eliaslecomte commented on #111
Use Android 😉.

[2020-09-10 00:53] DrTerr commented on #106
Hi, Ill be testing library soon.
One note, I don't actually want detailed message, just error code or Symbol/Field to know exact error types, without having to rely on parsing error message, which might get localized.
userDenied error code is most pressing, since it is fairly easy for user to deny access by accident. Other ones can be handled in more generic ways.

[2020-09-10 00:54] DrTerr commented on #106
I checked PR, it seems to be exact things I wanted, ill be switching to new version as soon as possible.

[2020-09-10 06:14] arangu97 commented on #101
Yes, thats it.
The problem is not automatic switching between Wifi and Data Mobile but between 2 Wifi networks.
I had this problem in some devices with Android 9+ version.
However, in other applications that use also some Wifi hotspot(without internet access) so as to configure a device (such as Google Home or other IoT devices) it is not disconnecting, so then there should be a way to force that

[2020-09-14 08:22] eliaslecomte opened #116 "Add timeout option for connectToProtectedSSID"
### Feature description

Add configurable timeout option. When the phone couldn't connect to access point in the specified time, cancel the attempt and reject the promise with error `timeoutOccurred`.

On iOS this timeout behaviour has to be added completely.
On Android this is already an option in the native dependency used (https://github.com/ThanosFisherman/WifiUtils) but we don't allow setting

[2020-09-15 00:29] #79 closed

[2020-09-15 18:43] #101 closed

[2020-09-16 07:06] jdegger opened #118 "Enabling Wifi disables the Android hotspot (AP)"
We are facing issues when an user is using their wifi hotspot and we try to enable the wifi. It seems to break their hotspot (AP).

I found the following code for reading if the hospot is in use:

[code]

I have not tested this, but wanted to discuss if it might be interesting to build in this feature into wifi-reborn.

I would propose to expose the AP status in a separate method so that we can de

[2020-09-16 07:24] eliaslecomte commented on #118
I am not sure what to think of it. If you want to connect with a wifi network. This will inevitable stop the hotspot indeed.
This is the same if the user turns wifi on with a hotspot active.

Starting Android 10, you can no longer enable/disable wifi in code.

I think it would be interesting if you could test that code and verify on what versions it works?
You can easily add this code in a new Nat

[2020-09-16 12:18] jdegger commented on #118
Thanks for the quick response. I was not aware that it was not working anymore in Android 10. We have opted to remove the enable() method from our code altogether as it was not required for our use case.

Thanks

[2020-09-16 12:18] #118 closed

[2020-09-17 03:20] 1280103995 opened #119 "Failed resolution of: Lcom/thanosfisherman/elvis/Elvis"
![a7e3aa80-3a7e-47d5-ade1-a98ff11e3fd0](https://user-images.githubusercontent.com/17424486/93416076-99c98780-f8d7-11ea-9633-8583b0e9b795.png)

[code]

[2020-09-17 03:44] 1280103995 commented on #119
I add
[code]
in app/build.gradle, it work for me.

[2020-09-17 03:44] #119 closed

[2020-09-17 03:44] stryaponoff commented on #119
There's a PR with fix waiting for accept https://github.com/JuanSeBestia/react-native-wifi-reborn/pull/117

[2020-09-17 10:10] adnan1naeem opened #120 "Android 10 Wifi issues"
I am facing issue in Android 10 that the device gets connected to the wifi but it is not throwing  internet though i ran google chrome but it was working fine but no internet access for my app. When i kill my app then internet starts supporting it .
I think there is an issue in which wifi is connected but not throwing internet. I am connecting to an Iot device then connecting back to  wifi which h

[2020-09-17 11:12] eliaslecomte commented on #120
Yes starting Android 10, only your app has internet access. Not for example chrome or other apps. Maybe I should add this to the readme.

[2020-09-17 11:54] adnan1naeem commented on #120
yes i am talking about my app  my react-native app does not have internet access even if wifi is connected

[2020-09-17 13:46] adnan1naeem commented on #120
@eliaslecomte  can you please tell me how can i use ```forceWifiUsageWithOptions ``` in my code if there is no internet access

[2020-09-17 14:40] adnan1naeem opened #121 "Android crash latest version 4.3.0"
I am using latest version of  the library but it is crashing with below error
<img width="1031" alt="Screenshot 2020-09-17 at 7 37 00 PM" src="https://user-images.githubusercontent.com/22443038/93486416-9a850c80-f91d-11ea-9215-c81fb7070968.png">

[2020-09-17 14:46] stryaponoff commented on #121
https://github.com/JuanSeBestia/react-native-wifi-reborn/pull/117

[2020-09-22 10:30] #121 closed

[2020-09-22 10:38] Rapsssito commented on #116
@eliaslecomte, great idea! However, we don't need to break the current method interface. We could use something like this:
[code]

[2020-09-22 10:39] #106 closed

[2020-09-22 10:39] #98 closed

[2020-09-22 11:20] eliaslecomte commented on #116
Unfortunately the native bridge doesn't support overloaded methods. Having two methods with overloaded parameters on Android will throw a runtime exception 😢 .

[2020-09-22 11:24] Rapsssito commented on #116
@eliaslecomte, can't we add a @Nullable annotation to the `options` argument in `connectToProtectedSSID`?

[code]

[2020-09-22 11:25] eliaslecomte commented on #116
I will try if that works and doesn't mess with the promise.

[2020-09-22 11:29] Rapsssito commented on #116
@eliaslecomte, if it doesn't work we can add `connectToProtectedSSID` to `index.js` and "overload" it in JavaScript to make in backwards compatible.

[2020-09-23 09:24] arangu97 commented on #120
I have also some problems with Android 10 and MIUI 12 operating system.

When using connecting to protected SSID it asks to allow this connection as seen in the below image:

![image](https://user-images.githubusercontent.com/54932595/93993463-11dbf580-fd8f-11ea-9884-6f0590ae8ed0.png)

However when clicking the connect button this suddenly appears:

![image](https://user-images.githubusercontent.c

[2020-09-23 14:04] pherrera91 opened #123 "Android 10 - networkInfo inconsistencies"
Hello

I’m facing this issue https://github.com/react-native-community/react-native-netinfo/issues/411

Could it be something to be handled in this library?

[2020-09-23 15:21] remuscodes opened #124 "Android 10 Connecting to WiFi fails"
I've noticed lots of issues appeared with Android 10 and I'll just add some logs to those. App was working fine on previous Android versions until we tested on an Android 10 phone. And it's not a OnePlus phone but it throws the same error as I can see.  Scenario is connection to an IoT device for reading info from the device.

Here are the details:
[code]

[code]

Here is code as well:
[code]
Erro

[2020-09-23 15:33] jeremiahogutu opened #125 "App freezes after pairing to wifi"
I am running into an issue where after connecting to wifi using the connectToProtectedSSID and forceWifiUsageWithOptions methods the app freezes and the touch events in the app stop working. I have to close and reopen the app at which point I lose wifi connection and have to start over.

Also I am connecting to wifi with no internet connection.

**Device:** Samsung S10
**OS:** Android 10
**React-n

[2020-09-24 10:28] jeremiahogutu commented on #125
This was actually caused by the state management library I am using redux. When I disabled the redux action calls on the screen my app was working again. With this in mind i will look into my redux implementation.

[2020-09-24 10:28] #125 closed

[2020-09-24 12:53] remuscodes commented on #124
I just did the new Xperia System Update released in September and everything works fine now. It was not an issue with the react native library. Also for future reference make sure to add `android:usesCleartextTraffic="true"` to the manifest if IoT device runs on http and phone Android version greater than 9.

[2020-09-24 12:53] #124 closed

[2020-09-25 07:43] CKitisak opened #126 "Android 8 cannot scan or connect to WIFI"
Let say I have 4 android phones as following:

1. Samsung Galaxy S7 (Android 8)
2. Samsung Galaxy S8+ (Android 9)
3. Huawei P20 Pro (Android 10)
4. Samsung Galaxy S10+ (Android 10)

My *second*, *third*, and *forth* are working as expected (Scan and Connect) but the **first one** cannot scan or connect to the WIFI anymore. I have no idea why because I didn't get any error messages.

Please someone

[2020-09-26 16:08] interhub opened #127 "connectToProtectedSSID reconecting for 10-15 seconds and then connects, requesting access"
Android 9.
this is very annoying and makes the interface go viral for users.
Could you please fix the bug
 "react-native": "~0.63.2",
"react-native-wifi-reborn": "^4.3.1",

[2020-09-28 09:20] arangu97 opened #128 "WifiManager.forceWifiUsageWithOptions does not work"
Hello,

I have tried the new functionality forceWifiUsageWithOptions for mantaining the connection with a Wifi with no internet but it is not working. I have tried this :

WifiManager.forceWifiUsageWithOptions(true, {noInternet: true});

The app still changes my Wifi connection to other one that has Internet access.

[2020-09-28 12:52] ilyalezhnev opened #129 "Too many requests to give permissions to change the WiFi connectivity on Xiaomi devices."
Hi! I have problem with getting wi-fi permissions. There are many requests for wi-fi permissions from system on Xiaomi devices. Request for the permission for the wi-fi connection repeats itself several times after even a user mades their choice.

[2020-09-28 19:31] Rapsssito commented on #129
@ilyalezhnev, it might be related to #79

[2020-10-01 15:50] micbaumr opened #130 "isRemoveWifiNetwork does not remove wifi configuration"
Hi, i am facing the issue with `isRemoveWifiNetwork`. When I call it, everything looks fine - wifi is disconnected, but previous network configuration is still saved on the device -> I can connect to network from setting panel. Problem occurred for me on Android 10 (real device).

[2020-10-01 16:52] #130 closed

[2020-10-02 09:17] CKitisak commented on #120
I have the same dialog issue like @arangu97 posted.

[2020-10-08 11:06] digitlninja opened #131 "Android disconnect() just returnstrue, but doesnt seem to disconnect from network?"
[code]

I've tried both of these, all I get is true, but the satellite icon is still on and it doesnt disconnect

[2020-10-09 09:02] PetterIve opened #132 "build.gradle missing compileOptions causes build error when compiling debug app"
I'm getting the following build error when building a debug version of the app with `./gradlew assembleDebug assembleAndroidTest -DtestBuildType=debug` (this is to build a test version of the app for Detox).
[code]

The build error dissappears if I add `compileOptions` to `app/node_modules/react-native-wifi-reborn/build.gradle`:
[code]
I'm not sure if this causes backwards compability issues, but

[2020-10-09 09:25] Rapsssito commented on #132
@PetterIve, are you using Detox?

[2020-10-09 09:32] PetterIve commented on #132
Yup

[2020-10-09 09:36] Rapsssito commented on #132
I will request a review from @eliaslecomte. We will get back to you ASAP.

[2020-10-12 13:48] digitlninja commented on #3
WHat does "Correct profile" mean for Ios-13???
Im getting the error despite following the ios setup docs. @JuanSeBestia

[2020-10-13 18:05] donzthefonz commented on #120
I'm experiencing the same thing, Android 10.
With the popup asking "Device to use with...", it seems to be inconsistent.
Sometimes it:
- allows user to select the wifi, proceeds and succeeds.
- allows user to select the wifi, proceeds and says it failed but actually succeeded.
- auto selects the wifi for the user and succeeds.
- immediately fails.

[2020-10-15 00:35] #94 closed

[2020-10-16 02:09] 1280103995 opened #135 "WifiManager.isRemoveWifiNetwork(ssid) NullPointerException"
Hello!

I received an error message from Sentry：```Attempt to invoke interface method 'java.util.Iterator java.util.List.iterator()' on a null object reference```

Log:
com.thanosfisherman.wifiutils.ConfigSecurities in getWifiConfiguration at line 171
com.thanosfisherman.wifiutils.ConnectorUtils in removeWifi at line 532
com.thanosfisherman.wifiutils.WifiUtils in remove at line 315
com.reactlibrar

[2020-10-16 07:25] BroBan commented on #120
Same issue here, is this an issue that could be looked into? Thanks

[2020-10-16 07:53] Rapsssito commented on #126
@CKitisak, `connect()` does not work on Samsung Galaxy S7 (Android 8)?

[2020-10-16 08:01] Rapsssito commented on #123
@pherrera91, I hope my comment can help you out. Moving the discussion over react-native-netinfo/react-native-netinfo#411 since it has more to do with react-native-netinfo, than with react-native-wifi-reborn.

[2020-10-16 08:01] #123 closed

[2020-10-16 08:04] Rapsssito commented on #128
@arangu97, what react-native-wifi-reborn are you using? Are you using iOS or Android?

@eliaslecomte, this might be a bug over WifiUtils.

[2020-10-16 08:06] Rapsssito commented on #127
@interhub, is your problem related to #79?

[2020-10-16 08:07] Rapsssito commented on #135
@1280103995, could you provide a reproducible demo with the code that is causing the error?

[2020-10-17 10:18] 1280103995 commented on #135
Sorry! The simple code is like this:
[code]
```<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />```has been added to ```android/app/src/main/AndroidManifest.xml``` file.

[2020-10-19 16:29] #132 closed

[2020-10-19 16:30] Rapsssito commented on #135
@1280103995, what line is causing the error?

[2020-10-19 16:30] JuanSeBestia commented on #132
:tada: This issue has been resolved in version 4.3.3 :tada:

The release is available on:
- [GitHub release](https://github.com/JuanSeBestia/react-native-wifi-reborn/releases/tag/v4.3.3)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-wifi-reborn/v/4.3.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-20 06:32] arangu97 commented on #128
The latest version of this library.
I am using it in Android, in a Pocophone.

[2020-10-21 02:00] 1280103995 commented on #135
@Rapsssito ```WifiManager.isRemoveWifiNetwork(ssid);```

May be caused by calling twice?

[2020-10-21 12:05] adnan1naeem opened #136 "connectToProtectedSSID() for open network in Android"
Hi i need  connectToSSID method  for connecting my mobile to an open wifi but i saw in readme that it  is supported for Ios only .Can you please suggest some other method or provide same function which can connect open wifi in  android.

[2020-10-21 12:56] Rapsssito commented on #135
@1280103995, it might actually be caused by you trying to remove a WiFi network added by the user. `isRemoveWifiNetwork()` can only remove WiFi SSIDs added by your app, not the user.

[2020-10-21 21:26] Rapsssito commented on #136
@adnan1naeem, take a look at the TypeScript declaration for `connectToProtectedSSID()`:
[code]

**You might get it able to work if you set the `password` parameter to `null`.**

[2020-10-22 02:38] 1280103995 commented on #135
Hi, @Rapsssito, as you said, i can’t reproduce it on TECNO Phantom 9(Android 9).

I can only expect someone to test it.  ^_^

[2020-10-22 06:49] adnan1naeem commented on #136
I will try it.Please tell me is there any flag or something through which we can identify that the ssid or network is protected or open network.I need to differentiate it.How can i achieve  that.

[2020-10-22 09:20] CKitisak commented on #126
sorry for late reply.

it seem that `scan()` doesn't work so I cannot test `connect()`

[2020-10-22 15:40] Rapsssito commented on #126
@CKitisak, my question is: is the issue is only happening on Samsung Galaxy S7 (Android 8)?

[2020-10-27 13:05] renanborgez commented on #131
same here

[2020-10-27 13:06] renanborgez commented on #131
same here
"react-native": "0.63.3",
"react-native-wifi-reborn": "^4.3.2",

[2020-10-28 08:47] renanborgez commented on #136
same problem, never connects and never responds

[2020-10-28 14:11] MappsGames13 opened #137 "<unknown ssid> on samsung galaxy Tab A"
I get unknown SSID :

[code]

"react-native-wifi-reborn": "^4.3.3",
"react-native": "~0.61.5",

in index.js

[code]

in Manifest

[code]

I test in Samsung Galaxy Tab A 2019

Also I can't scan wifi.

[2020-10-28 14:11] MappsGames13 opened #138 "unknown SSID on samsung galaxy tab A"
I get unknown SSID :

[code]

"react-native-wifi-reborn": "^4.3.3",
"react-native": "~0.61.5",

in index.js

[code]

in Manifest

[code]

I test in Samsung Galaxy Tab A 2019

Also I can't scan wifi.

I missed something in configuration ?

In simulator mode I get SSID : Android Wifi

[2020-10-28 14:14] #137 closed

[2020-10-28 14:14] MappsGames13 commented on #137
doublon

[2020-10-28 15:00] #138 closed

[2020-10-28 15:00] MappsGames13 commented on #138
FIXED by enable location service in android

[2020-10-28 15:05] MappsGames13 opened #139 "in iOS I get LOG getCurrentSignalStrength() is undefined"
[TypeError: _reactNativeWifiReborn.default.loadWifiList is not a function. (In '_reactNativeWifiReborn.default.loadWifiList()', '_reactNativeWifiReborn.default.loadWifiList' is undefined)]
 LOG  [TypeError: _reactNativeWifiReborn.default.getCurrentSignalStrength is not a function. (In '_reactNativeWifiReborn.default.getCurrentSignalStrength()', '_reactNativeWifiReborn.default.getCurrentSignalStren

[2020-10-28 15:13] #139 closed

[2020-10-28 15:13] MappsGames13 commented on #139
working only in android

[2020-10-28 20:58] Rapsssito commented on #136
@adnan1naeem, could you try with an empty string as password?

[2020-10-28 21:17] adnan1naeem commented on #136
It crashes app

On Thu, 29 Oct 2020, 1:59 am Rodrigo Martin, <notifications@github.com>
wrote:

[2020-10-29 07:13] renanborgez commented on #120
Also facing the same problem

[code]

Android 10
Huawei P20 Pro
EMUI 10.0.0

[2020-10-30 03:01] CKitisak commented on #126
correct

[2020-10-30 08:38] Rapsssito commented on #126
@CKitisak could you check if the problem is related to scan() or connect ()?

[2020-10-30 19:35] Rapsssito commented on #136
@adnan1naeem, could you provide an error trace?

[2020-11-02 06:55] CKitisak commented on #126
@Rapsssito  would you please guided me on how to check this on an Emulator because I don't have that phone just received the feedback from user and what they told me is they don't have any SSIDs on the list so I think it related to scan()?

[2020-11-02 18:57] Rapsssito commented on #126
@CKitisak, if it is a problem with Android 8, you should be able to reproduce the issue with any emulator running Android 8. However, if it is not a problem with Android 8, it might be an issue with Samsung's firmware.

[2020-11-03 08:46] CKitisak commented on #126
I have tried on Android 8.0 and 8.1 emulator both shows the same result with the fake SSID called "AndroidWifi" and no error message.

[2020-11-04 03:40] CKitisak commented on #120
It works fine now for me on Android 10. I have added these permissions below in `AndroidManifest.xml`.
After open the app I ask again the permission `ACCESS_FINE_LOCATION`

[code]

But I still got few errors as following sometimes:
![Selection_576](https://user-images.githubusercontent.com/2785185/98066581-0699e080-1e8a-11eb-8b93-de4a2bdcbf5c.png)

![Selection_575](https://user-images.githubuserco

[2020-11-06 08:25] Rapsssito commented on #126
@CKitisak, does it work on the emulator with Android 9?

[2020-11-06 09:30] CKitisak commented on #126
I didn't test it yet but my phone is Andriod 9 and it works. but there just sometimes I have got the problem of `CouldNotScan` as I posted
[here](https://github.com/JuanSeBestia/react-native-wifi-reborn/issues/120#issuecomment-721494361)

[2020-11-06 09:36] Rapsssito commented on #126
@CKitisak, could you test if the Android 8 problem is related to scanning networks or connecting to a network?

[2020-11-08 00:26] #129 closed

[2020-11-10 14:29] MarcoStb1993 commented on #120
I'm also unable to connect to a Wifi using my Samsung A40 with Android 10 and One UI version 2.0. The issue is the same as described by @donzthefonz .

The permissions @CKitisak proposed to add, did not fix the issue for me.

[2020-11-11 07:24] CKitisak commented on #120
@MarcoStb1993 with Android 10 (based on my experience) on the first connect it will show the system UI. You have to select the SSID you needed to connect again on the system UI (only the first time. if you didn't select it, it will show the error). To solve that error you have to open the system UI and then forget that SSID.

[2020-11-11 08:11] MarcoStb1993 commented on #120
This solved it for me, thanks a lot @CKitisak!

[2020-11-15 19:26] eliaslecomte commented on #126
Hi,

The description of the errors is documented in the typescript declaration file (https://github.com/JuanSeBestia/react-native-wifi-reborn/blob/b867e70fb0ad5e445fba3fe4f30b5bc2189a9e65/lib/types/index.d.ts). Scanning for wifi networks is throttled. You might want to to get your hands on the real device. I am not sure if it's possible that the user enabled a setting that disables wifi scanning a

[2020-11-17 15:48] CKitisak commented on #126
thank you

[2020-11-17 15:48] #126 closed

[2020-11-18 09:08] MarcoStb1993 opened #140 "RN fetch fails after successfully connecting and disconnecting with wifi"
Hey,

I've experienced a weird issue that I narrowed down to this library. I am using a Samsung A40 with Android 10, RN 0.63.2 and version 4.3.3 of react-native-wifi-reborn.

In my app, I connect to a wifi provided by a sensor (a seismograph to be more specific) which is not connected to the internet, retrieve its measurements with fetch requests and then disconnect from its wifi again. This proce

[2020-11-20 07:16] rhdtl78 opened #142 "Broken dependencies"
Environments
- "react": "16.13.1",
- "react-native": "0.63.3",
- "react-native-wifi-reborn": "^4.3.3",

Description
- When I call connectToProtectedSSID(), app was crashed with error that elvis class not found.

And I manually add the dependency to react-native-wifi-reborn

after that, it work correctly.

[2020-11-24 13:07] M9lab opened #143 "Once connected to a Wifi, i cannot navigate with browser"
"react-native": "^0.63.2",
"react-native-wifi-reborn": "^4.3.3",

Hello, i follow the main example to connect a hotspot, after successfully connected i cannot navigate via browser.
(still offline) until i close my app or restart it

[2020-11-24 17:44] AnagramEngineering commented on #142
I see the same problem, but only on production build. Development builds are working fine.

[2020-11-25 09:43] CKitisak opened #144 "Is it possible to prevent a wifi scan before connect?"
let say I have an app which already done a scan process (call `reScanAndLoadWifiList()`) and show a list of WIFIs. when users select any WIFI then the app call `connectToProtectedSSID` with the selected SSID and the PSK (if needed) and sometimes the `couldNotScan` error immediately occured. is there an option or the way to avoid this error?

[2020-11-27 14:32] iralution commented on #142
Same for me, tested with Android 9 and 11

[2020-11-29 00:30] #135 closed

[2020-11-29 00:30] #128 closed

[2020-11-29 00:30] #127 closed

[2020-11-29 17:04] diegoneg commented on #131
still verifying same problem on real android device:

"react-native": "0.63.2",
"react-native-wifi-reborn": "^4.3.2",

[2020-11-30 09:00] DennisOstertag commented on #142
Same error, some error logs here:

[code]

I will try to add the dependency manually and report back if that fixed the error.

[2020-11-30 09:08] AnagramEngineering commented on #142
as @rhdtl78 has mentioned, adding the dependency manually solves the problem

[2020-12-01 02:24] longnk1301 commented on #136
same!

[2020-12-01 02:29] longnk1301 commented on #142
please create PR

[2020-12-01 09:18] M9lab commented on #143
Yes starting Android 10, only your app has internet access. Not for example chrome or other apps. Maybe I should add this to the readme.

[2020-12-01 09:18] #143 closed

[2020-12-02 01:49] guiac commented on #144
I have the same problem. Did you manage to solve? Can you help me? thanks in advance

[2020-12-03 02:23] CKitisak commented on #144
I'm using just a `loadWifiList()` now and add a button call REFRESH for user to do a manual `reScanAndLoadWifiList()` with some interval to avoid reaching 4 times within 2 minutes.

[2020-12-03 02:57] guiac commented on #144
Nice! But can you tell me if the connectToProtectedSSID function checks the network?

[2020-12-03 02:58] guiac commented on #144
Nice! But can you tell me if the connectToProtectedSSID function scans the network?

[2020-12-05 00:06] jeremiahogutu commented on #142
![Screenshot_20201204-151519_Grobo.jpg](https://user-images.githubusercontent.com/28146531/101226845-c9309a80-3663-11eb-8bf4-f787bc5e96d7.jpg)

[2020-12-05 00:06] jeremiahogutu commented on #142
I can confirm that adding dependency fixes this.

[2020-12-05 19:09] Rapsssito commented on #142
@eliaslecomte, is this an issue with this library or WifiUtils?

[2020-12-05 19:13] Rapsssito commented on #140
@MarcoStb1993, thanks for the extended explanation. Correct me if I am wrong, the issue is that after disconnecting to the WiFi without internet breaks future fetch requests. So fetch requests before disconnecting the first time work fine.
How are you sending those fetch requests?

[2020-12-05 19:17] Rapsssito commented on #131
@digitlninja check #34, it might be the same problem you are experiencing.

[2020-12-06 11:49] MarcoStb1993 commented on #140
@Rapsssito, thank you for replying. Yes, exactly. After connecting and disconnecting to the sensor's hotspot (which has no internet connection), future fetch requests  to the server fail. It is possible to connect to the sensor again and fetch the measurements, only requests to the server (via mobile data) fail until the app is restarted.

My fetch requests to the server look like this:
[code]

Wh

[2020-12-07 14:02] Rapsssito commented on #140
@MarcoStb1993 are you using any kind of timeout between connecting to the hotspot WiFi and sending the fetch request?

[2020-12-07 14:05] MarcoStb1993 commented on #140
No, I don't. But I use `await` syntax for connecting and disconnecting. So, only when the connect function is finished, a fetch-request will be sent. The same goes for disconnecting (even though the disconnect function always just returns `true`).

[2020-12-07 14:07] Rapsssito commented on #140
@MarcoStb1993 could you try using react-native-netinfo and post your WiFi state just before you send the fetch request? Here is an example code:
[code]

[2020-12-07 14:16] MarcoStb1993 commented on #140
@Rapsssito Unfortunately, I currently don't have a sensor for testing.

But I previously used NetInfo to check the connection because I suspected that the Wifi was not correctly disconnected. But according to NetInfo it was disconnected. Directly after connecting to the hotspot it showed `type: wifi` and `isInternetReachable: false`. After disconnecting it immediately showed `type: cellular` and `

[2020-12-07 14:18] Rapsssito commented on #140
@MarcoStb1993, do you remember what NetInfo showed after you tried to connect to the WiFi again and the fetch requests failed?

[2020-12-07 14:24] MarcoStb1993 commented on #140
@Rapsssito As far as I recall, NetInfo was always showing the seemingly correct status. `type: wifi` and `isInternetReachable: false` when connected to the hotspot and `type: cellular` and `isInternetReachable: true` when disconnected from the hotspot.

Just to clarify: The fetch requests sent to the sensor when connected to its hotspot always succeed. Only the requests sent to the server after di

[2020-12-07 16:06] Rapsssito commented on #140
@MarcoStb1993, sorry I think I didn't understand your issue before. Your **cellular** fetch requests fail are the ones that are failing?

[2020-12-07 19:46] MarcoStb1993 commented on #140
@Rapsssito Yes, exactly. At first cellular requests work, then I use this package to connect to the sensor's hotspot without internet and do fetch requests to the sensor via wifi, they work as well. But after I disconnect from the hotspot, all cellular fetch requests fail until I restart the app.

[2020-12-08 02:16] guiac commented on #128
Has anyone managed to use this function? forceWifiUsageWithOptions

[2020-12-08 20:19] Rapsssito commented on #140
@MarcoStb1993 have to tried with `isRemoveWifiNetwork()`?

[2020-12-10 07:30] MarcoStb1993 commented on #140
@Rapsssito I think I didn't. I hope I can try it next week, and will update this as soon as I did. Thank you for your help so far!

[2020-12-10 11:10] eliaslecomte commented on #140
Hey @MarcoStb1993. Are you using forceWifiUsage or forceWifiUsageWithOptions?
It's importantant to unforce it after executing your api call to the device:
`await forceWifiUsageWithOptions(false, { noInternet: true });`

[2020-12-10 11:16] MarcoStb1993 commented on #140
Hi @eliaslecomte. No, I'm using neither. Do you mean I should use the forceWifiUsage method for my application? If so, thank you for your suggestion, I will try next week! :)

This is how I call this package's methods:

[code]

[2020-12-14 11:15] CKitisak commented on #144
I don't know how to check exactly but I guess yes because if you did 4 times rescan then when you connect to the ssid it will return `couldNotScan` error.

[2020-12-15 12:10] eliaslecomte commented on #144
This isn't implemented but is possible to do. Are you an Android dev, can you take it up?

[2020-12-16 07:55] MarcoStb1993 commented on #140
@eliaslecomte I just tried it with your advice and it worked! Thank you and @Rapsssito for your help.

I added the following after connecting to the sensor's wifi on Android:

[code]

And this after disconnecting from the sensor:
[code]

[2020-12-16 07:55] #140 closed

[2020-12-16 07:57] eliaslecomte commented on #140
Super! You think we should update the readme so this is more clear?

[2020-12-16 08:56] MarcoStb1993 commented on #140
@eliaslecomte Maybe a small hint at the start. To be honest, if I would've read the readme completely, this wouldn't have happened. So, I guess its on me and not on an unclear readme.

[2020-12-18 18:45] nashvent commented on #142
I also confirm that manually adding the dependency solves the problem.
In android/app/build.gradle
`implementation 'com.thanosfisherman.elvis:elvis:3.0'`

[2020-12-19 01:31] nickyleach commented on #136
Working on an app that also connects to open networks for IoT provisioning. This has worked well for Android:

[code]

I don't recall offhand what version of `react-native-wifi-reborn` we started with, but haven't run into any crashes with this approach over the last several months.

[2020-12-22 00:38] #120 closed

[2020-12-23 23:51] Mjxajl opened #151 "No ethernet after manually change wifi in my app"
Good day! After switch wifi to my IoT device and back to home hotspot device showing no internet connection via hotspot, and uses  moblile Ethernet 4G
if I'm  reconnect manually to home hotspot  all network request in my app fails

update: even connecting straight to home wifi spot im dont having network access

device Samsung A30
 "react-native": "0.62.2",
"react-native-wifi-reborn": "^4.2.0"

[2020-12-24 14:30] Mjxajl commented on #151
Fixed in "react-native-wifi-reborn": "^4.2.4"
TY!

[2020-12-24 14:30] #151 closed

[2021-01-07 07:44] eliaslecomte commented on #142
Ow I didn't see this before. As elvis is a dependency of WifiUtils, it's an issue that has to be solved in WifiUtils.

[2021-01-07 13:57] #142 closed

[2021-01-07 13:58] JuanSeBestia commented on #142
:tada: This issue has been resolved in version 4.3.5 :tada:

The release is available on:
- [GitHub release](https://github.com/JuanSeBestia/react-native-wifi-reborn/releases/tag/v4.3.5)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-wifi-reborn/v/4.3.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-08 16:38] ashu090990 commented on #131
same issue

[2021-01-11 03:51] mickeylam opened #153 "Build failed for Android, when the version target 4.3.5 or 4.3.6"
"react-native": "0.61.2",
 "react-native-wifi-reborn": "^4.3.3",

 When I set to 4.3.3, the build is successful.

 Error:

1756 > Task :react-native-wifi-reborn:javaPreCompileDebug
1757 > Task :react-native-wifi-reborn:compileDebugJavaWithJavac FAILED
1758 /builds/mobile/universal-app/node_modules/react-native-wifi-reborn/android/src/main/java/com/reactlibrary/rnwifi/RNWifiModule.java:27: error: c

[2021-01-12 06:33] ujjwalsayami commented on #153
I'm having trouble using latest version as well.
"react-native-wifi-reborn": "^4.3.6"

[2021-01-12 08:31] xralphack commented on #153
4.3.5 can pass, 4.3.6 can not

[2021-01-12 16:19] lucaguazzaroni commented on #153
Hi, Similar issue here.

[code]

My enviroment is

- react-native 0.63.4
- react-native-wifi-reborn 4.3.6
- gradle 6.7

[2021-01-13 03:44] Satyam-code143 commented on #153
@lucaguazzaroni

Did you get any solution for this??
I am getting the same problem.

[2021-01-13 05:27] ujjwalsayami commented on #153
@Satyam-code143  You can use version  "react-native-wifi-reborn": "4.3.5"

[2021-01-13 08:30] Satyam-code143 commented on #153
Hey, @ujjwalsayami  thank you for your response. I tried installing 4.3.5 version but now I am getting a new error.

`> Task :app:processDebugManifest FAILED `.

[2021-01-13 08:48] crazypioneer commented on #153
https://stackoverflow.com/questions/65695566/task-react-native-wifi-reborncompiledebugjavawithjavac-failed-react-native/65698397#65698397

Check here.

[2021-01-13 12:35] ujjwalsayami commented on #153
@Satyam-code143 can you post your full error

[2021-01-13 13:07] Satyam-code143 commented on #153
@ujjwalsayami  Here is my error:

`> Task :react-native-wifi-reborn:compileDebugJavaWithJavac FAILED `

[2021-01-13 13:10] lucaguazzaroni commented on #153
Hi! The problem was that GetCurrentWifiSSIDErrorCodes was a Kotlin file.

The solution:

1. Go to /node_module/react-native-wifi-reborn/android/src/main/java/com/reactlibrary/rnwifi/erros

2. Change the extension of GetCurrentWifiSSIDErrorCodes.kt to GetCurrentWifiSSIDErrorCodes.java. And then
    change the file content for this
[code]

[2021-01-13 14:33] Satyam-code143 commented on #153
@lucaguazzaroni

Hey! I tried this but I go this error!!

`> Task :app:processDebugManifest FAILED `

[2021-01-13 15:00] lucaguazzaroni commented on #153
Maybe if you try with 4.3.6 version? In the comment you made above this error showed up when you changed to 4.3.5 version.

[2021-01-13 15:10] Satyam-code143 commented on #153
@lucaguazzaroni

No the error comes for both the versions

[2021-01-14 08:04] Satyam-code143 commented on #153
@lucaguazzaroni
Hey!! Thank You very much!!

Your answer helped a lot. I did get the above mentioned Error. `> Task :app:processDebugManifest FAILED ` I did find solution for that. My `minSdkVersion` was lower, it was `16` and was asking for `21`. I made the changes in `build.gradle`. The [ref link](https://github.com/wmcmahan/react-native-calendar-events/issues/213#issuecomment-461852948) for the

[2021-01-14 08:45] eliaslecomte commented on #153
Looks like I was to enthusiastic on using kotlin mixed with java. Let me fix this.

[2021-01-14 11:24] #153 closed

[2021-01-14 22:00] scarlac opened #155 "IsRemoveWifiNetwork does not exist for iOS"
`IsRemoveWifiNetwork` does not exist for iOS. This isn't documented and isn't clear from the typescript definition.

Could we either:
- Update README.md to say that it's android only? or...
- Add iOS support?

(on a side note, maybe the name should be changed to `removeWifiNetwork` - ie. removing the leading "is")

[2021-01-18 09:56] eliaslecomte commented on #155
The method is listed in the readme under [Only Android](https://github.com/JuanSeBestia/react-native-wifi-reborn#only-android).

[2021-01-18 16:21] scarlac commented on #155
Sorry, I completely missed the section title. Closing.

[2021-01-18 16:21] #155 closed

[2021-01-18 19:07] eliaslecomte commented on #155
You are not the first, maybe we should add an ios - android label after every method 🤔.

[2021-01-20 16:35] stravi commented on #79
Xiaomi Redmi 6 Pro is connecting to the network but even after the connection is successful for the next ~2min it continously pops up dialog asking for permissions.

[2021-01-21 05:28] Rananjaya commented on #50
minSdkVersion cannot be smaller than version declared in library -minSdkVersion cannot be smaller than version declared in library

[2021-01-21 11:36] ashu090990 commented on #131
Any update ?

[2021-01-26 10:02] kheravarun08 opened #156 "I am not able to run the application in iOS although the library works perfectly on Android...I have added all the capabilities but still it always says invalid ssid"

[2021-01-29 00:34] #136 closed

[2021-02-03 15:30] MattBlanco opened #157 "Support for Android 11?"
Has anyone gotten this to work with Android 11?

I'm trying to connect to a protected IoT network that doesn't connect to the internet through my app, but it says that the connection is low quality and then automatically disconnects on my pixel 5. But if I connect to the network through my wifi settings, it stays connected.

Here's what I'm trying:

[2021-02-08 00:28] #144 closed

[2021-02-10 08:49] LauraKipfel commented on #131
Same issue, any update ?

[2021-02-10 09:09] eliaslecomte commented on #131
If I have some time I'll look into it. For Android, I would suggest using `isRemoveWifiNetwork` for now.

Questions:
* Can you reproduce on multiple phones?
* What phone model is used?
* What Android OS is used?
* Was the wifi network connected before via settings?

And also, in my experience, if you use the disconnect function, but there is no other wifi network arround, Android silently reconnec

[2021-02-14 16:03] thiagovmu opened #158 "Unable to use this library (WifiManager is undefined)"
Hi folks, I am trying to use react-native-wifi-reborn for two days without success.
I installed everything (**React Native + expo app + react-native aplication + react-native-wifi-reborn**). I managed to test the app on my phone (**android**), but when I try to read the nearby wifi networks, the WifiManager object is undefined. For some how it is not linked. I tried to link it manually, but there

[2021-02-15 07:28] eliaslecomte commented on #158
Are you using an expo app? I believe expo doesn't support native modules like react-native-wifi-reborn.

[2021-02-15 11:00] thiagovmu commented on #158
Ohh, I didn't even suspect that could be the reason. I will try again without it and I come back to tell what happened!
Many thanks @eliaslecomte!

[2021-02-15 14:08] #158 closed

[2021-02-25 21:51] kevinmamaqi opened #159 "WifiManager.setEnabled(true); doesn't activate the wifi"
I have a button with the following code that doesn't work. It prints properly 'here', 'granted'. Is there anything I'm missing. I'm on an Android 10 with RN 0.63.3.

[code]

[2021-03-01 08:24] eliaslecomte commented on #159
Hey, we didn't add anything to the readme but you can read here about why it no longer works: https://developer.android.com/reference/android/net/wifi/WifiManager#setWifiEnabled(boolean)

[2021-03-01 08:24] #159 closed

[2021-03-04 12:50] LauraKipfel commented on #131
Work for me to use isRemoveWifiNetwork() on Android. Thanks !

[2021-03-05 07:24] ashu090990 opened #160 "RN Fetch fails only first time after connecting to IOT device in iOS only"
After connecting to IOT device wifi network I am executing RN fetch call with GET method,
Fetch fails only first time with "Network Request Failed" error,
Getting 200 response after executing same api second time.
I am facing this issue only with iOS not in Android,
In android used "forceWifiUsageWithOptions" all api call are working with IOT device,
but how to deal with iOS, I think it's routing

[2021-03-08 00:31] #156 closed

[2021-03-08 16:05] thisisjoel opened #161 "Wifi is getting disconnected when the app is in background"
Wifi is getting disconnected when the app is in background. I connect to the wifi inside the app and then when I try to get out of the app the wifi automatically disconnects and connects to my home wifi. Is there a fix for it?

I am using:
"react": "16.13.1",
"react-native": "0.63.4",
"react-native-wifi-reborn": "4.3.7"

[2021-03-08 16:06] coderjoel commented on #157
I'm able to connect to the network on Android 11. Only issue I'm facing is disconnection when the app is in background. Were you able to fix the issue @MattBlanco?

[2021-03-10 12:52] eliaslecomte commented on #161
Can you also provide Android version and what device models you use?

[2021-03-10 12:56] #131 closed

[2021-03-23 11:18] efisiobova opened #162 "Hotspot"
Is possible to confgure the phone as hotspot (thetering) both in Android and IOS?

[2021-03-23 19:03] eliaslecomte commented on #162
Not with this lib.

[2021-03-23 19:03] #162 closed

[2021-04-08 15:43] melero2000 opened #165 "WifiManager.setEnabled(true) not working"
Hi, Im trying to use the setEnabled method and it is not working.

I have followed the installation steps correctly, the application has the permissions and other methods work but that one does not.

The methods isEnabled, getCurrentWifiSSID and getIP works perfectly.
![image](https://user-images.githubusercontent.com/45013053/114055767-55143680-9891-11eb-96ff-e9d52031cc12.png)

But when I try to

[2021-04-12 09:14] eliaslecomte commented on #165
Have you checked source code and underlying Android documentation. This may no longer be possible starting a specific Android version.

[2021-04-12 13:47] t-ricci-enhancers commented on #98
@eliaslecomte @CKitisak according to https://github.com/ThanosFisherman/WifiUtils/pull/93 they have merged the hidden network connection feature on the WifiUtils repository;

Would be nice to update react-native-wifi-reborn to also support specifying a hidden network name, protection and credentials in order to connect to it

[2021-04-12 13:51] t-ricci-enhancers commented on #98
@JuanSeBestia any chance to add this change?

[2021-04-16 11:40] amirmsvi opened #166 "Type Error"
Hey, I'm using Expo and VS Code, I keep getting this error upon any function I use:
TypeError: null is not an object (evaluating '_reactNativeWifiReborn.default.setEnabled')
Any help would be extremely appreciated.

[2021-04-19 08:54] eliaslecomte commented on #166
I don't think you can use expo with NativeModules? Have a look at previous issues mentioning expo: https://github.com/JuanSeBestia/react-native-wifi-reborn/search?q=expo&type=issues

[2021-04-19 08:54] #166 closed

[2021-04-19 18:08] thisisjoel commented on #161
It requires attention

[2021-04-22 00:13] #160 closed

[2021-04-22 00:13] #157 closed

[2021-04-24 18:06] guiac opened #167 "Is there a function equivalent to loadWifiList on iOS?"

[2021-04-27 20:36] scarlac opened #168 "Documentation/example for forceWifiUsageWithOptions"
`forceWifiUsageWithOptions` was added recently to deprecate `forceWifiUsage`. However neither of them have documentation as to how to use it. After reading the native code and studying the Android documentation it's still not 100% clear to me.
My best guess to how it works is that `forceWifiUsageWithOptions` just asks Android to re-connect based on a set of search parameters, one of them being 'no

[2021-04-29 12:13] holmeren opened #171 "getCurrentWifiSSID throws exception while in background"
I'm using `react-native-background-actions`  to run background task for my APP.
When i go the to background and call `getCurrentWifiSSID`, it works fine for a minute or so. But after that it starts throwing
 exceptions `[Error: Not connected or connecting.]`

Is there any solution to this, or do i need to use another library?

[2021-05-03 15:34] nickyleach commented on #135
@Rapsssito I think I'm running into a similar problem (`isRemoveWifiNetwork()` throwing a NPE). Is there a way to determine if it's safe to call `isRemoveWifiNetwork()`?

[2021-05-04 09:51] robrechtme opened #172 "NullPointerException on ssid.startsWith"
Hi!

We're receiving the following Sentry error for a single user:
[code]
 The call stack leads to [RNWifiModule.java#L304](https://github.com/JuanSeBestia/react-native-wifi-reborn/blob/master/android/src/main/java/com/reactlibrary/rnwifi/RNWifiModule.java#L304)

I'm not sure if the lib should catch this, or if the phone just has a bad wifi module. Just letting you know.

**Device**: ASUS Zenfone

[2021-05-04 12:56] Rapsssito commented on #135
@nickyleach, since you can only use `isRemoveWifiNetwork()` if your app has added that WiFi, you must keep a list of all the WiFi networks added by your app in persistent storage in order to determine if it is safe to call `isRemoveWifiNetwork()`.

[2021-05-05 13:35] jenschr commented on #167
No. Just read the documentation?
https://github.com/JuanSeBestia/react-native-wifi-reborn#only-android

It clearly states that this is Android only. If you just search this rather than opening an issue (when you clearly just have a question), you would save us all a lot of time. Here is my first result from Google https://developer.apple.com/forums/thread/39204 and as you can see this was replied

[2021-05-11 15:16] jenschr opened #181 "Untrapped error if already connected"
I have an app using react-native-wifi-reborn (RNWR) where I'm trying to nail all the corner cases of user interaction. For Android, this has gone smooth (thanks for a great plugin!) but on iOS some behavior is not trapped properly and I get an unhandled error (below).

Some basic info about my setup:
- Testing on an iPhone XR with latest iOS14 installed
- The app is provisioned and setup with the

[2021-05-12 08:47] jenschr commented on #181
Here is the stack trace broken into lines (more readable). I'll try to see if I can debug this issue in XCode so I can get a complete stack trace and precise pointers to where this happens.

[code]

[2021-05-12 09:02] jenschr commented on #181
One more detail - when this error occurs - only a device restart will solve it (as mentioned [here](https://developer.apple.com/forums/thread/127889) and [here](https://developer.apple.com/forums/thread/111638) and [here](https://stackoverflow.com/questions/47060649/nehotspotconfigurationerrordomain-code-8-internal-error)).

[2021-05-13 03:31] wattanakorn495 commented on #91
Don't close

[2021-05-20 12:23] ca057 opened #182 "[iOS] `connectToProtectedSSIDPrefix` doesn’t reject when WiFi couldn’t be joined"
Hey, thanks for your library!

I’m currently trying to join a network where I just know the beginning, but not the full SSID. Even though I can see the WiFi when checking the list of networks in the settings, my app is not able to connect to the access point by supplying it with only the prefix (when using the full name during development, it works). Is there something additional I should do befor

[2021-05-21 10:18] jenschr commented on #181
I am closing this issue. It is definetely a bug, but you can work around it by checking with WifiManager.getCurrentWifiSSID() regularily.

[2021-05-21 10:18] #181 closed

[2021-05-22 00:47] #165 closed

[2021-05-22 22:06] #167 closed

[2021-05-25 08:46] stravi commented on #135
I had a similar issue. My app was crashing in the exact same spot. This was happenning only to Samsung S6, Huawei P20 and Samsung S7 had no issues. I have realised that it crashes only if the wifi network is not enabled

[2021-05-26 22:22] #182 closed

[2021-05-26 22:23] JuanSeBestia commented on #182
:tada: This issue has been resolved in version 4.3.8 :tada:

The release is available on:
- [GitHub release](https://github.com/JuanSeBestia/react-native-wifi-reborn/releases/tag/v4.3.8)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-wifi-reborn/v/4.3.8)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-28 07:08] tusharmalpani20 opened #184 "Can I use this to connect WAP2 Enterprise protected access point?"

[2021-05-28 13:46] spike322 opened #185 "Network request failed after WiFi reconnection"
I'm developing an app for an IoT system where I have an IoT device which needs to be setup through WiFi. This device provides a WiFi access point without Internet connection, so I just connect to this ap using `WifiManager.connectToProtectedSSID()`, I perform a POST request for its configuration and then I perform `WifiManager.disconnect()` for disconnecting to it. Until this point everything work

[2021-05-29 00:26] aelhani commented on #143
Hi,

I'd like to have internet available to all apps in my phone after connecting to a wifi.
Is there a way to bypass this limitation "only app has internet access" ?

Also, could you please provide some useful links to learn further about this.

Thank you

[2021-05-29 14:51] rlesniak opened #186 "How to test it?"
I want to create some new feature to this lib. How can I test my changes without pushing it to GH? I see `example` folder but inside package.json dependency links to remote, how to run local version of code?

[2021-06-04 10:31] stravi commented on #140
What if you have forced WiFi usage without internet when you App connected to the sensor. But then user disconnects from your sensor WiFi network manually by going to Settings -> WiFi. Per [this](https://github.com/JuanSeBestia/react-native-wifi-reborn/issues/140#issuecomment-742453537) comment, it means the user won't be able to use phone data afterwards. If this is true, how would you solve this

[2021-06-07 15:21] savitaraghuvanshi opened #188 "Cross platform"
Thanks so much for creating this library .
"My goal is to transfer msg between 2 mobile devices in offline mode" cross platform android to iOS and iOS to android .
I tried some Bluetooth react native libraries but they does not work cross platform . while they are ok android to android and ios to ios .
can i transfer data between 2 mobile devices cross platform using it ?

If you do have any sugge

[2021-06-07 17:20] romaob opened #189 "Android asking for wifi permission repeatedly"
I'm having a problem with some Android versions, the app asks for wifi permission repeatedly.

I'm developing a react-native app that requires a wifi connection with a hardware device, when the user press the button "connect" it calls a function that executes the code
[code]
It works fine on many devices, but on some Android, regardless of the option that you choose when the permission message sho

[2021-06-08 01:04] #171 closed

[2021-06-17 13:13] swarsaha opened #194 "Not connecting automatically once wifi is reset"
From Android 10, after the wifi connection is established, wifi can not connect automatically when the SSID is in range.
Steps to reproduce:
1. Connect to the Wifi calling WifiManager.connectToProtectedSSID(SSID, password, isWep)
2. Wifi got connected
2. Turn off wifi from setting
3. Turn on wifi from setting

Expectation: the SSID will get connected automatically
Result: SSID is locked and asking

[2021-06-20 21:52] JNimkar opened #195 "IOS: Unable to Connect To Ad-Hoc Network of IoT Device"
I have an IoT device that is hosting an ad-hoc network (WEP encryption) with no internet connectivity. I am designing a react native app that scans a QR code and connects to that ad-hoc network.

Whenever I scan the QR code using this library, I receive an error: "Unable to join <network name>" but I am able to connect to the network manually through the IOS Wifi settings.

Here is the code I am u

[2021-06-29 00:24] #172 closed

[2021-06-29 00:24] #168 closed

[2021-06-29 00:24] #161 closed

[2021-06-29 07:09] rlesniak commented on #186
ha ha ha funny

[2021-07-04 10:46] efazri opened #196 "Got Internal Error on IOS"
I got internal error when I run in IOS device. I was added `Access Wifi Information` and `Hotspot Configuration` on my project. Anyone can explain to me or give me some advice?

[2021-07-08 00:39] #184 closed

[2021-07-08 00:39] #185 closed

[2021-07-08 11:44] romaob commented on #189
Unfortunately, I didn't found any solution yet

[2021-07-10 18:16] lava-dukanam opened #197 "WifiManager import is not working"
[code]

Versions: (tried on both, nothing works)

![image](https://user-images.githubusercontent.com/12294890/125172542-f33cd300-e1d7-11eb-8fb2-107cc6b83199.png)

[2021-07-13 10:01] GlobusHugoSchmitt commented on #157
The issue, in my case, is that I have another part of the. code monitoring for network changes, and it picks `cellular` as the connection type when connecting to an SSID without internet. It never reports a successful wifi connection.
(But I'm still trying different things.)

[2021-07-15 00:41] #188 closed

[2021-07-16 05:11] kildip opened #198 "Crash issue in IOS 14 local network permission"
Hi @eliaslecomte

when i get local network permission and crash application . once you  press ok then not crashing application in IOS 14+

Illegal callback invocation from native module. This callback type only permits a single invocation from native code. Can you Please help

[2021-07-21 16:21] luisdralves opened #202 "Add support for hidden SSIDs"
### Feature description
Allow connecting to hidden networks, by manually inputing the SSID.

### Updated method signature
Add `isHidden` optional boolean parameter in the `connectToProtectedSSID` method.

### Thoughts
Not sure how feasible this is but I've come across this use case. It seems like it would be simple on android at least? https://github.com/JuanSeBestia/react-native-wifi-reborn/issue

[2021-07-22 07:40] kildip commented on #198
hello @eliaslecomte ,
 any update ?

[2021-07-29 00:40] #195 closed

[2021-07-29 00:40] #194 closed

[2021-07-29 23:51] patrickspafford opened #203 "iOS - connectToProtectedSSIDPrefix Throws Error Even when Successful"
On version 4.3.8, I can call the connectToProtectedSSIDPrefix on an iOS device with valid params and have that device connect to the expected network, but this method throws an error anyway with

`[Error: Unable to connect to Wi-Fi with prefix /myNetworkName]`

It looks like the connectToProtectedSSIDPrefix method, after trying to establish the connection, is checking that the prefix matches the c

[2021-07-30 05:01] patrickspafford commented on #203
Replaced the if condition with this:
[code]

And it seems to work. Although when upgrading from 4.3.7 to 4.3.8, I forgot to rerun `pod install` in my project.

What's strange is that even with this modification, SSID prefixes that include a "-" (e.g. "myNetworkPrefix-") will successfully connect and not throw an error, but iOS 14.6 will show an alert saying "Unable to connect to network" anyway.

[2021-08-05 18:06] eliaslecomte commented on #186
Hi, for small changes you could just edit in node_modules of your app.
However; the best way to test forks is to commit your changes on your fork and then use your fork as dependency via its github url + git tag. As you would with any npm dependency.
Unfortunately the example doesn't use repo itself. I tried but didn't get it running.

[2021-08-06 06:11] #198 closed

[2021-08-06 14:27] vinilprabhu commented on #161
Issue is still present on android 11

[2021-08-09 21:23] patrickspafford commented on #198
@kildip Did you find a solution to this?

[2021-08-10 05:04] kildip commented on #198
no @patrickspafford

[2021-08-11 17:53] SpiriaJWF commented on #196
@efazri  I also have this problem, did you managed to find a solution?

[2021-08-13 09:39] 9kmmr opened #205 "Android - Error: On Android 10, the user has to enable wifi manually"
In v4.3.8 when using **connectToProtectedSSID**, I got this error  when trying to connect to a wifi :

`WifiManager.connectToProtectedSSID(currentSSID, wifiPass, false).then(
        () => {
          console.log("wifi is in range");
        },
        (err) => {
          console.log(err);
          console.log("wifi is not in range");
        }
 );`

and got the error: [Error: On Android 10, the

[2021-08-17 14:02] kidasovmercury opened #206 "Error while configuring WiFi after turning off WiFI on physical device"
Today I come across a mysterious error and I still don't know how to figure it out.

I am using the latest library version 4.3.8
I am trying to connect to a protected WiFI network using this code on my iPad(5th gen, 13.1)

[code]

It worked well until I occasionally turned my WiFI off in the settings like this
![Screenshot 2021-08-17 at 17 51 21](https://user-images.githubusercontent.com/50829747/

[2021-08-19 02:46] efazri commented on #196
@SpiriaJWF the problem was came from my device, I can my device to the other one and it's works

[2021-08-22 00:39] #197 closed

[2021-08-22 00:39] #189 closed

[2021-08-24 10:51] romaob commented on #205
This is a security restriction on Android, is just because the wifi is off, it can connect with the provided SSID, but it can not automatically turn the wifi on/off, this also happens with Location.
In this case, I show a message asking the user to turn on wifi and try again, you can also show a button to open wifi settings or listen until the user enables wifi, but only the user can turn it on an

[2021-08-25 04:15] #205 closed

[2021-08-27 09:46] Hallot opened #207 "Failed to resolve Android dependencies when building"
How to reproduce:
- `npx react-native init repro`
- `cd repro`
- `npm install react-native-wifi-reborn --save`
- `npx react-native run-android`

Error:
[code]

System:
- "react-native": "0.65.1",
- "react-native-wifi-reborn": "^4.3.8"
- openjdk11
- gradle 7.1.1

How to fix/workaround:
Add `jcenter()` to `allprojects` -> `repositories` in repro/android/build.gradle

[2021-08-27 12:43] monkin77 opened #209 "Connection to WiFi is limited to the running App [Android]"
So in my app I need detect if the WiFi connection is down and if so, try to reconnect. However, even though the reconnection works fine (using connectToProtectedSSID method), the device connection to the WiFi seems to be limited to the running App (Smartex) and when I close it, it disconnects from it.
I've noticed an unusual label below the wifi ssid in the WiFi list that I will send as an attachm

[2021-08-29 00:43] #202 closed

[2021-09-08 00:40] #203 closed

[2021-09-14 15:20] mi-mazouz commented on #21
Hey I'm facing the same problem. Maybe that library can do the job https://github.com/balthazar/react-native-zeroconf

[2021-09-15 00:42] #186 closed

[2021-09-16 09:03] bitcrumb commented on #207
Since jcenter is being sunsetted by February, I assume the real fix is to have com.thanosfisherman.wifiutils published on mavenCentral?

[2021-09-16 09:38] eliaslecomte commented on #207
I've added an issue here: https://github.com/ThanosFisherman/WifiUtils/issues/115

[2021-09-16 10:21] Hallot commented on #207
Sorry, I should have mentioned there's already an issue opened for that (https://github.com/ThanosFisherman/WifiUtils/issues/107), and it was a fix while waiting for this to be done.

[2021-09-23 09:37] mi-mazouz commented on #132
Still have this issue using detox on CI

[2021-09-23 15:30] mi-mazouz opened #212 "Error when I build on github action to test the app with Detox"
Hello guys and thanks for this nice library! I'm getting the following build error when building a debug version of the app with `./gradlew assembleDebug assembleAndroidTest -DtestBuildType=debug`.

[code]

Can someone help me with that?

[2021-09-29 00:42] #206 closed

[2021-09-29 00:42] #196 closed

[2021-09-29 00:56] monkin77 commented on #209
Still looking for a solution to this problem

[2021-09-30 17:21] SpiriaJWF commented on #185
@spike322 Hi did you find any solutions for this?

[2021-10-02 06:33] kamal-hossain opened #215 "Not working => WifiManager.setEnabled(true)"
I am trying to turn on device Wi-Fi on a button press. I have found [this](https://github.com/JuanSeBestia/react-native-wifi-reborn/issues/165) issue already. But it is closed without any solution.

I am using real physical device not an emulator. Android version **11**, Samsung.

## Can anyone knows whats the problem with this method?

[2021-10-02 06:41] kamal-hossain commented on #215
I have found this is not the function error, its the Android version.
After running this my project on **Android 8.1.0** this function is completely working fine.

[2021-10-02 06:41] #215 closed

[2021-10-04 11:07] kidasov commented on #116
any update on this?

[2021-10-05 14:35] EyalPerry opened #217 "WifiManager.connectToProtectedSSID fails on iOS 14.7.1 iPhone 12, succeeds on iPhone 11"
I am getting: `Error while configuring WiFi` and `unableToConnect`
Immediately when using the library on an iPhone 12 pro max.

Same code succeeds on iPhone 11.
Any ideas?

Library version: 4.3.7
Upgrading to 4.3.8 / 4.4.0 and above causes failure in all cases in all iOS devices I tried.

Usage:

[code]

Any ideas?

[2021-10-06 08:14] Spiros94 opened #218 "buildToolsVersion '29.0.3' not matching with React Native's V0.65 target API 30"
I tried to install and run the library on a newly made project of React Native 0.65.1, but during compilation the following error arises

[code]

React native version: 0.65.1 (default build gradle)
react-native-wifi-reborn: 4.4.0

Changing my build.gradle from:

[code]

to (performed a `./gradlew clean` before recompile)

[code]

didn't help at all.

[2021-10-13 17:48] eliaslecomte commented on #207
WifiUtils has updated and we will soon release a new release, see https://github.com/JuanSeBestia/react-native-wifi-reborn/pull/216.

[2021-10-18 20:17] fiznool commented on #116
Firstly apologies for wading in, I have just discovered this library, and it's exactly what I need.

My own personal view is that using the [named parameters](https://exploringjs.com/impatient-js/ch_callables.html#named-parameters) approach to function signatures makes adding new features (such as this) trivial in the future. In this case, a short-term breaking change to a sig such as the followin

[2021-10-20 07:19] rohitsingh2410 opened #219 "connectToProtectedSSID Do not work in android 10"
In android 10, connectToProtectedSSID suggests wifi to connect however after the connection. Internet is not available on the device.

[2021-10-20 08:22] rohitsingh2410 commented on #219
@eliaslecomte can u please suggest any fix?

[2021-10-20 12:10] fiznool commented on #136
I had the same issue when using `null` as the password for an open network. Can confirm that the fix for me was to set password to the empty string `""` too.

[2021-10-29 14:52] SpiriaJWF opened #221 "Android 11 - Sometimes the network I want to connect is not found"
On Android 11, Galaxy A12, the network I want to connect to is not found. I see it in my phone WiFi settings but in the app it clearly indicate "didNotFindNetwork". Some other times, the app found the network and is able to connect to it. Anyone else have this problem?

[2021-11-02 18:13] SpiriaJWF commented on #221
Related to WifiUtils

[2021-11-02 18:13] #221 closed

[2021-11-03 14:11] SpiriaJWF commented on #217
@EyalPerry  I also have the same problem. Did you find anything?

[2021-11-04 03:07] gdelazeri commented on #219
I'm with the same issue here!!

[2021-11-04 23:07] #207 closed

[2021-11-04 23:07] #218 closed

[2021-11-04 23:08] JuanSeBestia commented on #17
:tada: This issue has been resolved in version 4.4.1 :tada:

The release is available on:
- [GitHub release](https://github.com/JuanSeBestia/react-native-wifi-reborn/releases/tag/v4.4.1)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-wifi-reborn/v/4.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-08 00:44] #212 closed

[2021-11-19 18:52] acrabb opened #223 "Android Build failed with 4.4.1"
Package version: ^4.4.1
React Native version: 0.64.1

Looks like an internal step is failing in wifi-reborn?
Any ideas?

T.I.A. :)

[code]

[2021-11-29 00:44] #209 closed

[2021-12-02 23:15] namrog84 opened #224 "Add windows support"
It'd be great to add ReactNativeWindows support for windows platforms.

https://github.com/microsoft/react-native-windows
https://microsoft.github.io/react-native-windows/

While our team did have an internal patch-package custom implementation for react-native-wifi, we are in process of migrating away from react-native-wifi completely, but thought this code snippet for windows might benefit whoev

[2021-12-15 00:46] #219 closed

[2021-12-15 00:46] #217 closed

[2021-12-15 10:56] rberg-ct commented on #185
I'm having the exact same issue
i can perform fetch commands over wifi connection with internet
then  I connect to a wifi hotspot on an Iot unit for setup.. WifiManager.connectToProtectedSSID()
post the config
do a disconnect .. WifiManager.disconnect()
network returns to previous working wifi
then all fetch commands fail with [TypeError: Network request failed]

has anyone found a solution?? it s

[2021-12-16 06:07] ils-narayanaR opened #227 "On Android 10, the user has to enable wifi manually"
Getting this error how to solve this ?

[2021-12-16 13:30] eliaslecomte commented on #227
This is how Android works. Before Android 10, wifi could be enabled/disabled by apps. Starting Android 10 this is no longer possible.

The best way to handle is, is detect if wifi is on + if the user is on Android10+. If so, show an error and maybe add a (quick) button to open wifi settings, so the user can enable wifi himself.

[2021-12-16 13:30] #227 closed

[2021-12-16 13:35] ils-narayanaR commented on #227
Thankq so much for your quick response @eliaslecomte

[2021-12-16 13:50] haveneersrobin opened #228 "[iOS] `CNCopyCurrentNetworkInfo` is deprecated and (sometimes) gives errors when 'Precise Location' is turned off"
We get an error when calling `getCurrentWifiSSID` which uses `getWifiSSID`, which relies on `CNCopyCurrentNetworkInfo`. It may be these are not related but I do believe it is important to note that `CNCopyCurrentNetworkInfo` is **deprecated** in favor of
- [`fetchCurrentWithCompletionHandler`](https://developer.apple.com/documentation/networkextension/nehotspotnetwork/3666511-fetchcurrentwithcompl

[2021-12-28 19:00] cristianoccazinsp opened #229 "Maintained?"
Hey,

@JuanSeBestia just wondering if you are still maintaining this as I'm looking for a library with similar features.

Thanks,

[2021-12-28 19:20] eliaslecomte commented on #229
Hi @cristianoccazinsp.

This library is maintained by a few as you can see in the releases / merge / issues.
I am using it myself to connect through IoT commissioning.
We are welcoming contributions (Android / iOS / React Native) as these features are facing changes with every new release.

[2021-12-28 19:20] #229 closed

[2021-12-28 19:38] cristianoccazinsp commented on #229
Great to know. I do collaborate with PRs as I find issues, but I wanted to confirm the library is usable for both iOS and Android as I've seen a few unmaintained ones that required a lot of upfront work.

[2021-12-29 00:47] #223 closed

[2021-12-29 09:25] eliaslecomte commented on #223
Hi @acrabb, did you manage to fix this?
I would suggest making sure you are using latest:
* React Native
* Correct gradle android plugin
* Run on correct Java version (temurin-8.0.312+7 for example)

[2021-12-29 09:27] eliaslecomte commented on #224
Hi @namrog84.
How is your migration going? Already on react-native-wifi-reborn? Is your team planning on adding windows via PR? We would we be welcoming that!

[2021-12-29 10:29] namrog84 commented on #224
@eliaslecomte unfortunately we migrated away from both and are able to to meet our needs exclusively using @react-native-community/netinfo now. So we are using neither and thus won't be able to schedule this into my normal workload anytime soon. I might be able to do it for non-work purposes sometime later on this year at the earliest. I had just wanted to share the code snippet for anyone curious

[2021-12-30 03:41] jobinjoymec opened #230 "[Android]Authentication error occurred while trying to connect. The password could be incorrect or the user could have a saved network configuration with a different password!"
In Android 9 ,KARBONN Titanium S9 Plus  while using "connectToProtectedSSID" its showing
 "Authentication error occurred while trying to connect. The password could be incorrect or the user could have a saved network configuration with a different password!"

I removed it from the saved network and password is correct but its still showing the same error

[2021-12-30 07:20] eliaslecomte commented on #224
Netinfo is indeed the best option if you want to know to what network and how you are connected with :-)!

[2022-01-22 01:31] josectobar opened #232 "[iOS] `connectToProtectedSSIDOnce` doesn't seem to be working with iOS 15.1+"
I've been unable to connect to a secured SSID with iOS whenever I use the `connectToProtectedSSIDOnce` method. the function breaks when applying the configuration with the `joinOnce` boolean set to `TRUE`

[code]
I'm currently testing this with an `iPhone 13` running `iOS 15.1.1`

It seems that this is a known issue for iOS 15. Has anyone else experienced this issue?

[2022-01-25 06:25] BernhardtDT opened #233 "[Android] Does not seem to connect on Android 11"
I am using the `connectToProtectedSSID` call and it asks me if I want to setup a temporary Wi-Fi network to connect to device. This behavior did not happen when I used it on Android 9 it just worked. When I press accept it simply shows my Wi-Fi with an exclamation mark.

![Screenshot 2022-01-25 at 08 20 03](https://user-images.githubusercontent.com/52275280/150922083-c8dbd355-0a15-42c7-9799-58c0c9

[2022-01-25 07:57] #233 closed

[2022-01-26 14:42] IsaacIsrael commented on #203
Hey I don't know if it still validated but I fixed this issue by adding the Access Wi-fi information at the Signin&Capabilities

[2022-01-26 14:43] IsaacIsrael commented on #217
Hey I don't know if it still validated but I fixed this issue by adding the Access Wi-fi information at the Signin&Capabilities

[2022-01-29 00:42] #228 closed

[2022-02-03 07:08] vanenshi opened #234 "Add pattern match for Wifi name in android"
`WifiUtils` on android is going to add this feature for android 10 and higher in their next release https://github.com/ThanosFisherman/WifiUtils/pull/112

this is a great feature for IoT apps, can you add this feature as soon as they release it?

[2022-02-08 00:49] #224 closed

[2022-02-08 00:49] #230 closed

[2022-02-08 12:35] KevinMac19 opened #235 "Unable to install the package giving native error"
* What went wrong:
Execution failed for task ':react-native-wifi-reborn:compileDebugJavaWithJavac'.

[2022-02-09 11:29] lay-mand commented on #198
Same issue here, please help @eliaslecomte , @Rapsssito

[2022-02-09 11:34] kildip commented on #198
are you using any tcp or udp library ?

[2022-02-09 12:19] lay-mand commented on #198
Maybe it's better to reopen issue?

[2022-02-10 11:23] dawidchyrzynski opened #236 "Add support for joinOnce in connectToSSIDPrefix method"
Currently `connectToSSIDPrefix` explicitly sets `joinOnce` to `false`. It would be nice to have this property exposed to RN

[2022-02-10 17:50] brookflok opened #237 "Starting Android 9, it's only allowed to scan 4 times per 2 minuts in a foreground app. Handle error before connection"
Hi, I m using react-native-wifi-reborn.
I use it for scanning all available wifi networks, and when the wifi list is loaded a user can press scan again to scan WI-Fi networks again.

According to Android 9 and above a user can scan the wifi network only 4 times, but when a user scans the network more than 4 times he will not get this error he will only get this error if he tries to connect to spec

[2022-02-11 08:20] dawidchyrzynski commented on #233
@BernhardtDT I'm experiencing the same issue. System shows "Automatically connected via Google" status but there is no connection to the network. How did you manage to solve it?

[2022-02-14 07:01] ApWin commented on #198
@kildip I use tcp socket and connectToProtectedSSID still doesn't work. Did you find any solution ?

[2022-02-14 11:02] brookflok commented on #237
Fixed the issue, by doing small changes to the code.

- Forked this GitHub
- Added changes to RNWifiModule.java

Changes I added are in reScanAndLoadWifiList, I created a boolean that will get the wifi.startScan() and it will return true or false depending on its ability to scan wifi. Then I added an if statement, where I check if the wifiStartScan is true or false. If true I return the list if fa

[2022-02-14 19:10] eliaslecomte commented on #237
Will you pr this?

[2022-02-15 09:57] aj-spanio commented on #185
I found how to get this going.... If you do WifiManager.forceWifiUsageWithOptions(true, { noInternet: true }); just after connection succeeds, then a WifiManager.forceWifiUsageWithOptions(false, { noInternet: false }); after disconnection, it will trigger Android to recheck if the new connection is valid, and network requests seem to work again.
It seems the mechanism in play here is that Android

[2022-02-16 09:48] brookflok opened #238 "Start connecting in the application and connect while the app is in the background - Error: On Android 10, the user cancelled connecting (via System UI)."
Hi, I m experiencing one problem. I wish that my user is able to start connecting in my application and if he put the application in the background while still connecting he should still connect to the network.
Right now if a user starts the connection and puts the application in the background after a small period of time he will get this error:

I checked the documentation for ThanosFisherman an

[2022-02-16 10:12] brookflok commented on #237
I have made a PR request you can merge it if you wish.

[2022-02-18 12:02] rberg-ct commented on #185
Hey ... nice work . I had kinda given up hope on this and had to work around this issue
i can confimn from early signs of testing that this has solved my issue

[2022-02-22 15:03] RebeccaGibbon opened #240 "TypeError: undefined is not an object (evaluating '_$$_REQUIRE(_dependencyMap[11], "react-native-wifi-reborn").WifiManager.getCurrentWifiSSID')"
Hello, when I tried to use this library, I receive the error:
`TypeError: undefined is not an object (evaluating '_$$_REQUIRE(_dependencyMap[11], "react-native-wifi-reborn").WifiManager.getCurrentWifiSSID')`

`./gradlew clean` did not solve this, neither did reinstalling my node_modules.

My package.json is included below.

{
  "name": "myapp",
  "version": "0.0.1",
  "private": true,
  "scripts":

[2022-02-22 20:50] billnbell opened #241 "Android 11 - not working"
What do I need to set for Android 11 ?

I am having issues using this in Android 11.

[2022-02-23 09:16] jackpotdk commented on #241
I am having problems as well after upgrading my device.

I am running Samsung S10, Android Version 12.

As far as I can tell, WiFi connection fails because of "Android security policy prevents use of WiFi" - At least thats what the phone indicates when the app crashes.

Any thoughts?

[2022-03-06 08:58] BILLXZY1215 commented on #181
Same issue, any workaround? `WifiManager.getCurrentWifiSSID()` seems not working correctly on iOS 15.

[2022-03-07 18:14] ryanstout commented on #238
@brookflok I'm seeing the same issue, were you able to dup?

[2022-03-08 00:55] #232 closed

[2022-03-08 06:34] brookflok commented on #238
@ryanstout Hi Ryan, I'm not able to solve this issue, I will probably write a module for wifi connection or something and try to fix it that way. But it will probably be later because there are bigger priority things to be done.
If you find some solution for this feel free to share it here.

[2022-03-15 00:58] #234 closed

[2022-03-16 15:20] billnbell commented on #241
OK not idea why this is still occurring but we cannot still connect using this library on Android 11.

Any thoughts?

[2022-03-17 09:11] KevinMac19 commented on #240
Same thing happening with me. Let me know if u found any solution for that.

[2022-03-22 00:59] #236 closed

[2022-03-22 01:00] #235 closed

[2022-03-22 07:11] brookflok commented on #237
There is a pull request that should be done and this can be closed

[2022-03-27 23:18] nilaydigiwhiz opened #246 "IOS 15 getWifiSSID"
We are having issue getting current wifi SSID on IOS 15.

We are getting error "Cannot detect SSID". We have added location permission but still having same issue

Seems like getWifiSSID returing nil

It works using Xcode but not working when generating IPA and installing on actual device

Please help

[2022-03-28 17:04] ovy9086 commented on #238
I'm seeing this issue without even the user canceling or putting the app in background...

[2022-03-30 19:54] goatbarn commented on #238
Myself as well. Just upgraded my personal phone/development phone from Samsung S9 to a S21 (which I'm assuming bumped my Android OS version up quite a bit) and now I get this error whilst just attempting to connect to a protected SSID in foreground.

[2022-03-30 20:28] ryanstout commented on #238
@goatbarn @ovy9086 Are both of you on Android 10? Thanks

[2022-03-31 06:50] ovy9086 commented on #238
I'm on Android 12, on a Pixel3a. but by looking at the Android implementation it seems that the native library is throwing this error in the `onUnavailable()` callback, which might trigger for various reason. But the library always rejects with an `USER_CANCELED` error.

[2022-04-07 18:23] ruialves35 commented on #241
Hi, any improvement here? I also can't Turn on/off the wifi using this

[2022-04-25 15:34] kkch196247 commented on #198
-./node_modules/react-native-wifi-reborn/ios/RNWifi.m

[code]

[2022-04-29 01:16] #240 closed

[2022-05-05 18:35] alepiumetti commented on #246
I have the same issue and I don't know how resolve it ..

[2022-05-08 01:10] #238 closed

[2022-05-08 01:10] #237 closed

[2022-05-08 02:22] billnbell commented on #241
We need it fixed

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: github-actions[bot] ***@***.***>
Sent: Saturday, May 7, 2022 7:10:20 PM
To: JuanSeBestia/react-native-wifi-reborn ***@***.***>
Cc: William Bell ***@***.***>; Author ***@***.***>
Subject: Re: [JuanSeBestia/react-native-wifi-reborn] Android 11 - not working (Issue #241)

Hey there, it looks like there

[2022-05-08 21:24] ryanstout commented on #238
I'm still seeing this issue, any more insights on what causes this issue? Thanks!

[2022-05-12 03:42] billnbell commented on #241
Is this package abandoned?

[2022-05-16 20:25] adrianbartyczak opened #251 "react-native-wifi-reborn not finding an IoT device WiFi network"
react-native-wifi-reborn is for some reason not finding my IoT device's WiFi network.

It's finding all the WiFi networks around me except for that one. But my IoT device's network is showing up on my laptop.

It's one of those devices where you connect to temporarily to set up a WiFi connection with another device.

[2022-05-27 07:53] mayank2245 commented on #157
Hi i am facing issue in my device there is internet available in wifi but when i connect using `connectToProtectedSSID` it shows no internet.
can anyone help

[2022-06-08 02:02] nilaydigiwhiz commented on #246
Issue was with location permission. When generated IPA , location permission was not configured properly. After fixing that, issue gone

[2022-06-08 02:02] #246 closed

[2022-06-23 15:46] mi-mazouz opened #254 "WifiManager.reScanAndLoadWifiList not working when choosing approximate location"
Hi!

I just discovered an issue on the WifiManager.reScanAndLoadWifiList function. The promise never resolves when the user chooses approximate location.

WifiManager.loadWifiList function returns `Location permission (ACCESS_FINE_LOCATION) is not granted` error.

Both functions are working when precise location is enabled

Anyone else have the same problem?

[2022-06-29 01:18] #251 closed

[2022-07-03 04:13] takerfume opened #256 "How to bypass user approval On Android 11"
Hi, guys.

I would like to know how to bypass user approval by using BSSID or something.

Android officially provides us with [`Wi-Fi Network Request API for peer-to-peer connectivity`](https://developer.android.com/guide/topics/connectivity/wifi-bootstrap).
This API enables us to bypass user approval (You can see info [here](https://developer.android.com/guide/topics/connectivity/wifi-bootstrap#b

[2022-07-05 10:02] ItxAltaf opened #257 "couldNotDetectSSID :Cannot get current SSID!"
WifiManager.getCurrentWifiSSID().then(
      ssid => {
        console.log("Your current connected wifi SSID is " + ssid);
      },
      () => {
        console.log("Cannot get current SSID!");
      }
    );

Could not get ssid on some android devices?????

[2022-07-08 09:07] voulgarakis opened #258 "WifiManager.reScanAndLoadWifiList() locationServicesOff error does not appear"
Hi all,

I use the reScanAndLoadWifiList method in order to forcefully scan WiFi networks. I realized that when Android's phone location service is OFF, the locationServicesOff error does not appear, whereas when using the loadWifiList method with location services OFF the error does appear.

Anyone else has the same problem?

[2022-07-15 15:13] 1871636671 opened #259 "Android packing error reported Task :react-native-wifi-reborn:verifyReleaseResources FAILED"
An accident occurred while building the app:
![image](https://user-images.githubusercontent.com/66112404/179252365-894ba96a-67a1-489b-862b-d8c0a00a1ffe.png)

My version
![image](https://user-images.githubusercontent.com/66112404/179252659-f286c665-395e-466c-be7f-e6b60e1a9645.png)

Please check it for me

[2022-07-16 02:10] 1871636671 commented on #259
There were no problems with development and debugging, only with packaging

[2022-07-16 02:11] 1871636671 commented on #259
There were no problems with development and debugging, only with packaging

[2022-07-18 06:31] sidd2217 opened #260 "isRemoveWifiNetwork doesnt work on android 12"
Hi,

isRemoveWifiNetwork() is not working on real device in android 12.
I tried to use disconnect() but that doesnt work either.

Does anyone have a solution for this?

Versions -
React native - 0.66.4
wifi-reborn - 4.7.0
device - Samsung S22+ ( android 12 )

[2022-07-22 01:27] #241 closed

[2022-07-25 16:04] blin-1 opened #261 "no Promise returned when connecting to protected SSID"
Promise of WifiManager.connectToProtectedSSID never comes back, either success or failure

[code]

[2022-07-25 17:20] blin-1 commented on #261
Avengers is the target network name - it is password protected and 2.4 mhz, and this Android Studio log seems like an issue:

2022-07-25 13:02:27.107 1553-1792/? E/WifiConfigManager: Cannot find network with configKey "Avengers"WPA_PSK-0
2022-07-25 13:02:27.107 1553-1792/? E/WifiNetworkFactory: Network not present in config manager
2022-07-25 13:02:27.107 1553-1792/? E/WifiConfigManager: Cannot fi

[2022-07-29 16:03] enchorb opened #262 "Android Connects But No Internet"
Hello,

This library works great for iOS but encountering the same issue as this post https://stackoverflow.com/questions/72457171/react-native-wifi-reborn-connected-to-wifi-but-no-internet-available-with-exc

On Android, the connection is successful but internet does not work.

[2022-08-08 01:23] #254 closed

[2022-08-15 01:27] #258 closed

[2022-08-15 01:27] #257 closed

[2022-08-15 01:27] #256 closed

[2022-08-18 12:49] NCS commented on #261
We have a similar or maybe the same issue since version 4.6.0. With 4.5.1 it's working. I fixed it with a downgrade.

[2022-08-18 13:06] NCS commented on #261
I am pretty sure that the issue came up with this pull request: https://github.com/JuanSeBestia/react-native-wifi-reborn/pull/249 and the file android/src/main/java/com/reactlibrary/rnwifi/RNWifiModule.java#230. Some lines above the promised gets rejected in case of errors but there is no resolving of it if the connection is successful.

But I am not sure if this is the only issue because our test

[2022-08-18 13:13] SpiriaJWF commented on #262
Have you tried looking at the `forceWifiUsageWithOptions` option?

[2022-08-18 13:14] SpiriaJWF commented on #260
What do you mean? It returns an error? Is successful but doesn't disconnect?

[2022-08-18 14:08] SpiriaJWF commented on #261
1. Is it a hidden wifi network?
2. What devices are you using (Android version + device model)

[2022-08-18 14:44] SpiriaJWF commented on #254
From my understanding, to scan nearby Wifi devices you need `ACCESS_FINE_LOCATION`.
https://developer.android.com/guide/topics/connectivity/wifi-permissions

[2022-08-19 02:34] Jack-QMY opened #265 "On Android 10, the user cancelled connecting (via System UI)"
![image](https://user-images.githubusercontent.com/57746139/185530329-99bbe0e9-cc14-418c-a36a-28bb61fe6ad2.png)
in android. Why do I enter the correct password and the connection is successful, but the password is entered incorrectly and the following picture problem occurs

[2022-08-19 02:35] Jack-QMY commented on #265
Inside the WifiManager.connectToProtectedSSID method

[2022-08-19 06:32] NCS commented on #261
No, it's a open network without password. I had the issue with different phones and android versions. My main test device has android 10 installed.

[2022-08-19 10:25] SpiriaJWF commented on #265
The error message is changed in this PR #264

[2022-08-29 01:52] #259 closed

[2022-09-05 15:49] Yasir12598 opened #266 "Task :react-native-wifi-reborn:verifyReleaseResources FAILED"
I am trying tor release .apk using ./gradlew assembleRelease command but build failed and give below error.

[code]

[2022-09-06 10:27] eliaslecomte commented on #266
It's because the compileSdkVersion, and targetSdkVersion are still set to 29 for react-native-wifi-reborn. You can up those via a patch, or wait until https://github.com/JuanSeBestia/react-native-wifi-reborn/pull/270 is merged.

[2022-09-06 10:31] eliaslecomte commented on #259
It's because the compileSdkVersion, and targetSdkVersion are still set to 29 for react-native-wifi-reborn. You can up those via a patch, or wait until https://github.com/JuanSeBestia/react-native-wifi-reborn/pull/270 is merged.

[2022-09-06 15:38] felipejoribeiro commented on #217
@IsaacIsrael I didn't find such an option. Am I looking at the wrong menu?
![image](https://user-images.githubusercontent.com/39244876/188677289-31d68b41-5f8c-48a9-b3c0-0996f57d7a22.png)

[2022-09-07 12:13] mi-mazouz commented on #254
@SpiriaJWF ```ACCESS_FINE_LOCATION``` is already in my AndroidManifest.xml file

[2022-09-08 18:08] samirlegdah commented on #262
Unfortunately I also have the same problem, I tried with "forceWifiUsageWithOptions" but nothing changes.

[2022-09-08 18:59] samirlegdah commented on #157
@MattBlanco have you managed to find a solution?

[2022-09-11 08:06] IsaacIsrael commented on #217
Hey @felipejoribeiro  you need to add new Capabilities

<img width="907" alt="Screen Shot 2022-09-11 at 11 02 38" src="https://user-images.githubusercontent.com/13355848/189517911-24aedeac-e835-4ba7-a410-92435f38c034.png">
<img width="911" alt="Screen Shot 2022-09-11 at 11 02 49" src="https://user-images.githubusercontent.com/13355848/189517915-9d3d06b2-81e5-42d2-90a5-cc13b5b31830.png">

[2022-09-13 13:32] brookflok commented on #238
Hi with the new update it is working for me without the error. Tested with v4.7.0

Just a note while I was testing this I noticed that if I don't remove the network before using it, it will try to connect and it will never return an error. It is just connecting to infinity.

But I found a solution before the connection I remove it with isRemoveWifiNetwork(SSID that I m trying to connect), and then

[2022-09-15 00:25] enchorb commented on #262
Same, my code looks like this

[code]

[2022-09-21 21:19] alaincampagno commented on #262
Same, Is there any news for the possibile solution ?

[2022-09-22 03:19] ShaoGongBra opened #271 "ios connectToSSIDPrefix is not connected"
ios connectToSSIDPrefix is not connected, the returned result is connected but not actually connected
It is possible to connect using this connectToSSID,
ios16
react-native 0.68.2
react-native-wifi-reborn 4.7.0

[2022-09-22 04:57] #260 closed

[2022-09-23 17:55] ankitpro commented on #262
I'm also facing issue connecting to Wi-Fi.
Can someone please help me?

[2022-09-25 17:00] blin-1 commented on #261
Sorry it took so long, in my case that was a problem with my own code (an extra await in the chain of calls) , not the library, so can be closed as far as i am concerned

[2022-09-25 17:00] #261 closed

[2022-09-27 02:07] ShaoGongBra commented on #271
help

[2022-09-27 09:48] brookflok commented on #238
Okay finally I have found some kind of a solution for this, it is not a pretty one but it is working for me now. So the issue that I had was:

- I would enter my app and go to the connection screen
- I would initiate scanning of the Wi-Fi
- While waiting for the Wi-Fi List I would put my app in the background.
- I would wait for 3,4,5 secs and go back to the app
- I would get the On Android 10, th

[2022-09-29 01:50] #265 closed

[2022-10-03 11:33] voulgarakis commented on #271
same happens to me too with connectToSSIDPrefix method..

[Error: Error while configuring WiFi]

[2022-10-09 12:17] timh1004 commented on #233
I'm having the same issue! Any updates? This package is using [`WifiNetworkSpecifier.Builder`](https://developer.android.com/reference/android/net/wifi/WifiNetworkSpecifier.Builder#public-methods_1) that says "_some devices may only support requesting local-only networks_" which seems to be the case here.
The Android Documentation notes, that:

That seems to be the proper replacement for the depre

[2022-10-14 17:17] Biptaste opened #274 "I cannot to connect to a wifi with a OnePlus 5T"
Hi,

I cannot to connect to a wifi with a OnePlus 5T on Android 10.

I use your example to reproduce the bug, and I get the following message when I try to connect
`Something came up. The application has cancelled the request to choose a device.`
but at the same time at the bottom of the phone I see "connection successful"

The method connectToProtectedSSID doesn’t throw any errors

In the logcat

[2022-10-25 19:28] vchan023 opened #276 "Android 13, http requests not being sent."
Hi,
Have used this library for a while for IoT wifi setups but recently started running into an issue on Android 13.

After calling `connectToProtectedSSID`, I send a request to the device's access point to retrieve nearby wifi signals.
When called, `connectToProtectedSSID` is returning  'connected'. However the request is not being received by the device. Looking through ADB logs I don't see any

[2022-10-27 05:57] Jack-QMY opened #277 "ios运行不起来？"
![image](https://user-images.githubusercontent.com/57746139/198202999-3453a9d0-244d-45fc-b5e0-34fcaf689a47.png)
我按照文档也添加了相关的配置，但是运行不起来，各位有遇到了吗？

[2022-10-27 06:16] Jack-QMY commented on #277
![image](https://user-images.githubusercontent.com/57746139/198205830-a7079730-17e2-4635-a21d-f699adfa658a.png)

[2022-10-27 10:24] tenordst commented on #271
Same problem also for us, any new information or updates related to this issue & root cause behind it?

[2022-11-08 01:20] #262 closed

[2022-11-09 08:06] al-go-oneasg opened #279 "v4.7.0 no connecting in Android, Wi-Fi icon with exclamation mark"
Using v4.7.0 for two months now.
For Android, 11-12-13(tested on Google Pixel 3 XL, 4 XL and other models from other manufacturers), seems that the library connects correctly to the device Wi-Fi but displays, at Android Wi-Fi Settings, the Wi-Fi icon with an exclamation mark appear after trying to connect, and it considers the connection to be successful.
Below it reads "Available with " and the n

[2022-11-09 17:14] daaanigm commented on #276
I'm having the same problem. Did you found something?? @vchan023

[2022-11-11 06:47] Jack-QMY opened #280 "ios Archive"
![image](https://user-images.githubusercontent.com/57746139/201280007-bcf3807f-23e0-431d-bffc-4ab34a56bfef.png)
The above problem occurs, multiple commands are executed?

[2022-11-11 14:23] timothyPatterson commented on #276
Ensure clear text traffic is allowed. In Android manifest:
[code]
Also checkout forceWifiUsageWithOptions method to force Android to use WiFi (as opposed to routing traffic through mobile data).
[code]

[2022-11-14 01:19] #280 closed

[2022-11-14 01:19] #277 closed

[2022-11-14 09:40] daaanigm commented on #276
Thanks @timothyPatterson, but it is not working with your suggestions.

Android manifest contains usesCleartextTraffic="true" and even using forceWifiUsageWithOptions(true, {noInternet: true}) the problem persists.

The problem is that it connects to the network but the router is inaccessible.

In case it helps, this problem does not happen on a device running Android 10, but it does happen on a d

[2022-11-14 14:52] aminisaeed opened #281 "how can i send message to wifi ?"
i want to send a message to wifi module
how can i do it after connect to that wifi???

[2022-11-14 16:34] nitindeokate99 commented on #281
@aminisaeed are you able to connect to the hotspot using SSID and passphrase?

[2022-11-22 01:18] #274 closed

[2022-11-23 19:27] kozhinas opened #282 "You need put "Privacy - Location When In Use Usage Description" or "Privacy - Location Always and When In Use Usage Description" in Settings -> info"
Hello, how can I get information about wifi in ios 16, I tried everything and I can’t get ssid

[2022-11-25 09:48] AlbinCederblad opened #283 "Update SDK Version Android"
I have to go to node_modules of react-native-wifi-reborn and update

compileSdkVersion 31
buildToolsVersion '31.0.0'
targetSdkVersion 31

otherwise release build fails.

[2022-11-28 14:12] hakansaglam29 commented on #283
I faced also the same problem, then I changed compile, buildTools and target SDK versions to 31 in android/build.gradle and made a new patch. Now i am able take a release build. Thanks @AlbinCederblad

[2022-11-30 09:01] voulgarakis commented on #258
The issue is not with the location permission. The location permission is granted. But even if it is granted is the location service is OFF the reScanAndLoadWifiList method does not return the locationServicesOff error, so when you call reScanAndLoadWifiList with the location service OFF it does not return anything, nor an exception or something and i gets stuck inside the method forever.

[2022-11-30 09:18] posymeon commented on #258
I also have this problem

[2022-11-30 09:51] daaanigm commented on #276
Did you found any solution for that? I'm still having this issue.
Thanks in advance!

[2022-11-30 18:03] ahammedmishal commented on #259
when doing gradlew assembly release got the error while generating apk file
the compile and target SDK are 33 tried with 30,31,32 also

![Screenshot 2022-11-30 233141](https://user-images.githubusercontent.com/68768299/204873730-ad4b561c-00e9-4e5e-a1fd-8b7a6ff2a763.png)

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':react-native-wifi-reborn:verifyReleaseR

[2022-11-30 20:09] vchan023 commented on #276
I ended up purchasing another Google pixel to test android 13 on another device and didn't have any issues. For now everything seems to be working fine for us.